extends layout
block content
  section#cart_items
    .container
      .breadcrumbs
        ol.breadcrumb
          li
            a(href='#') Home
          li.active Check out
      //- /breadcrums
      .step-one
        h2.heading Step1
      .checkout-options
        h3 New User
        p Checkout options
        ul.nav
          li
            label
              input(type='checkbox')
              |  Register Account
          li
            label
              input(type='checkbox')
              |  Guest Checkout
          li
            a(href='')
              i.fa.fa-times
              | Cancel
      //- /checkout-options
      .register-req
        p
          | Please use Register And Checkout to easily get access to your order history, or use Checkout as Guest
      //- /register-req
      .shopper-informations
        .row
          .col-sm-3
            .shopper-info
              p Shopper Information
              form
                input(type='text', placeholder='Display Name')
                input(type='text', placeholder='User Name')
                input(type='password', placeholder='Password')
                input(type='password', placeholder='Confirm password')
              a.btn.btn-primary(href='') Get Quotes
              a.btn.btn-primary(href='') Continue
          .col-sm-5.clearfix
            .bill-to
              p Bill To
              .form-one
                form
                  input(type='text', placeholder='Company Name')
                  input(type='text', placeholder='Email*')
                  input(type='text', placeholder='Title')
                  input(type='text', placeholder='First Name *')
                  input(type='text', placeholder='Middle Name')
                  input(type='text', placeholder='Last Name *')
                  input(type='text', placeholder='Address 1 *')
                  input(type='text', placeholder='Address 2')
              .form-two
                form
                  input(type='text', placeholder='Zip / Postal Code *')
                  select
                    option -- Country --
                    option United States
                    option Bangladesh
                    option UK
                    option India
                    option Pakistan
                    option Ucrane
                    option Canada
                    option Dubai
                  select
                    option -- State / Province / Region --
                    option United States
                    option Bangladesh
                    option UK
                    option India
                    option Pakistan
                    option Ucrane
                    option Canada
                    option Dubai
                  input(type='password', placeholder='Confirm password')
                  input(type='text', placeholder='Phone *')
                  input(type='text', placeholder='Mobile Phone')
                  input(type='text', placeholder='Fax')
          .col-sm-4
            .order-message
              p Shipping Order
              textarea(name='message', placeholder='Notes about your order, Special Notes for Delivery', rows='16')
              label
                input(type='checkbox')
                |  Shipping to bill address
      .review-payment
        h2 Review & Payment
      .table-responsive.cart_info
        table.table.table-condensed
          thead
            tr.cart_menu
              td.image Item
              td.description
              td.price Price
              td.quantity Quantity
              td.total Total
              td
          tbody
            tr
              td.cart_product
                a(href='')
                  img(src='../themes/font-end/assets/images/cart/one.png', alt='')
              td.cart_description
                h4
                  a(href='') Colorblock Scuba
                p Web ID: 1089772
              td.cart_price
                p $59
              td.cart_quantity
                .cart_quantity_button
                  a.cart_quantity_up(href='')  +
                  input.cart_quantity_input(type='text', name='quantity', value='1', autocomplete='off', size='2')
                  a.cart_quantity_down(href='')  -
              td.cart_total
                p.cart_total_price $59
              td.cart_delete
                a.cart_quantity_delete(href='')
                  i.fa.fa-times
            tr
              td.cart_product
                a(href='')
                  img(src='../themes/font-end/assets/images/cart/two.png', alt='')
              td.cart_description
                h4
                  a(href='') Colorblock Scuba
                p Web ID: 1089772
              td.cart_price
                p $59
              td.cart_quantity
                .cart_quantity_button
                  a.cart_quantity_up(href='')  +
                  input.cart_quantity_input(type='text', name='quantity', value='1', autocomplete='off', size='2')
                  a.cart_quantity_down(href='')  -
              td.cart_total
                p.cart_total_price $59
              td.cart_delete
                a.cart_quantity_delete(href='')
                  i.fa.fa-times
            tr
              td.cart_product
                a(href='')
                  img(src='../themes/font-end/assets/images/cart/three.png', alt='')
              td.cart_description
                h4
                  a(href='') Colorblock Scuba
                p Web ID: 1089772
              td.cart_price
                p $59
              td.cart_quantity
                .cart_quantity_button
                  a.cart_quantity_up(href='')  +
                  input.cart_quantity_input(type='text', name='quantity', value='1', autocomplete='off', size='2')
                  a.cart_quantity_down(href='')  -
              td.cart_total
                p.cart_total_price $59
              td.cart_delete
                a.cart_quantity_delete(href='')
                  i.fa.fa-times
            tr
              td(colspan='4')  
              td(colspan='2')
                table.table.table-condensed.total-result
                  tr
                    td Cart Sub Total
                    td $59
                  tr
                    td Exo Tax
                    td $2
                  tr.shipping-cost
                    td Shipping Cost
                    td Free
                  tr
                    td Total
                    td
                      span $61
      .payment-options
        span
          label
            input(type='checkbox')
            |  Direct Bank Transfer
        span
          label
            input(type='checkbox')
            |  Check Payment
        span
          label
            input(type='checkbox')
            |  Paypal