extends layout
block content
  section
    .container
      .row
        .col-sm-3
          .left-sidebar
            h2 Category
            #accordian.panel-group.category-products
              // category-productsr
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordian', href='#sportswear')
                      span.badge.pull-right
                        i.fa.fa-plus
                      | Sportswear
                #sportswear.panel-collapse.collapse
                  .panel-body
                    ul
                      //- each c in categories
                      //-   li
                      //-     a(href="/products?c=" + c._id)= c.username
                      li
                        a(href='#') Nike
                      li
                        a(href='#') Under Armour
                      li
                        a(href='#') Adidas
                      li
                        a(href='#') Puma
                      li
                        a(href='#') ASICS
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordian', href='#mens')
                      span.badge.pull-right
                        i.fa.fa-plus
                      | Mens
                #mens.panel-collapse.collapse
                  .panel-body
                    ul
                      each cItem in categories
                        li
                          a(href="#")= cItem.cateNm
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordian', href='#womens')
                      span.badge.pull-right
                        i.fa.fa-plus
                      | Womens
                #womens.panel-collapse.collapse
                  .panel-body
                    ul
                      li
                        a(href='#') Fendi
                      li
                        a(href='#') Guess
                      li
                        a(href='#') Valentino
                      li
                        a(href='#') Dior
                      li
                        a(href='#') Versace
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(href='#') Kids
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(href='#') Fashion
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(href='#') Households
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(href='#') Interiors
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(href='#') Clothing
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(href='#') Bags
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(href='#') Shoes
            // /category-products
            .brands_products
              // brands_products
              h2 Brands
              .brands-name
                ul.nav.nav-pills.nav-stacked
                  li
                    a(href='#')
                      span.pull-right (50)
                      | Acne
                  li
                    a(href='#')
                      span.pull-right (56)
                      | Grüne Erde
                  li
                    a(href='#')
                      span.pull-right (27)
                      | Albiro
                  li
                    a(href='#')
                      span.pull-right (32)
                      | Ronhill
                  li
                    a(href='#')
                      span.pull-right (5)
                      | Oddmolly
                  li
                    a(href='#')
                      span.pull-right (9)
                      | Boudestijn
                  li
                    a(href='#')
                      span.pull-right (4)
                      | Rösch creative culture
            // /brands_products
            .price-range
              // price-range
              h2 Price Range
              .well.text-center
                input#sl2.span2(type='text', value='', data-slider-min='0', data-slider-max='600', data-slider-step='5', data-slider-value='[250,450]')
                br
                b.pull-left $ 0
                b.pull-right $ 600
            // /price-range
            .shipping.text-center
              // shipping
              img(src='/themes/font-end/assets/images/home/shipping.jpg', alt='')
            // /shipping
        .col-sm-9.padding-right
          .features_items
            // features_items
            h2.title.text-center Features Items
            .col-sm-4
              .product-image-wrapper
                .single-products
                  .productinfo.text-center
                    img(src='/themes/font-end/assets/images/home/product1.jpg', alt='')
                    h2 $56
                    p Easy Polo Black Edition
                    a.btn.btn-default.add-to-cart(href='#')
                      i.fa.fa-shopping-cart
                      | Add to cart
                  .product-overlay
                    .overlay-content
                      h2 $56
                      p Easy Polo Black Edition
                      a.btn.btn-default.add-to-cart(href='#')
                        i.fa.fa-shopping-cart
                        | Add to cart
                .choose
                  ul.nav.nav-pills.nav-justified
                    li
                      a(href='#')
                        i.fa.fa-plus-square
                        | Add to wishlist
                    li
                      a(href='#')
                        i.fa.fa-plus-square
                        | Add to compare
            .col-sm-4
              .product-image-wrapper
                .single-products
                  .productinfo.text-center
                    img(src='/themes/font-end/assets/images/home/product2.jpg', alt='')
                    h2 $56
                    p Easy Polo Black Edition
                    a.btn.btn-default.add-to-cart(href='#')
                      i.fa.fa-shopping-cart
                      | Add to cart
                  .product-overlay
                    .overlay-content
                      h2 $56
                      p Easy Polo Black Edition
                      a.btn.btn-default.add-to-cart(href='#')
                        i.fa.fa-shopping-cart
                        | Add to cart
                .choose
                  ul.nav.nav-pills.nav-justified
                    li
                      a(href='#')
                        i.fa.fa-plus-square
                        | Add to wishlist
                    li
                      a(href='#')
                        i.fa.fa-plus-square
                        | Add to compare
            .col-sm-4
              .product-image-wrapper
                .single-products
                  .productinfo.text-center
                    img(src='/themes/font-end/assets/images/home/product3.jpg', alt='')
                    h2 $56
                    p Easy Polo Black Edition
                    a.btn.btn-default.add-to-cart(href='#')
                      i.fa.fa-shopping-cart
                      | Add to cart
                  .product-overlay
                    .overlay-content
                      h2 $56
                      p Easy Polo Black Edition
                      a.btn.btn-default.add-to-cart(href='#')
                        i.fa.fa-shopping-cart
                        | Add to cart
                .choose
                  ul.nav.nav-pills.nav-justified
                    li
                      a(href='#')
                        i.fa.fa-plus-square
                        | Add to wishlist
                    li
                      a(href='#')
                        i.fa.fa-plus-square
                        | Add to compare
            .col-sm-4
              .product-image-wrapper
                .single-products
                  .productinfo.text-center
                    img(src='/themes/font-end/assets/images/home/product4.jpg', alt='')
                    h2 $56
                    p Easy Polo Black Edition
                    a.btn.btn-default.add-to-cart(href='#')
                      i.fa.fa-shopping-cart
                      | Add to cart
                  .product-overlay
                    .overlay-content
                      h2 $56
                      p Easy Polo Black Edition
                      a.btn.btn-default.add-to-cart(href='#')
                        i.fa.fa-shopping-cart
                        | Add to cart
                  img.new(src='/themes/font-end/assets/images/home/new.png', alt='')
                .choose
                  ul.nav.nav-pills.nav-justified
                    li
                      a(href='#')
                        i.fa.fa-plus-square
                        | Add to wishlist
                    li
                      a(href='#')
                        i.fa.fa-plus-square
                        | Add to compare
            .col-sm-4
              .product-image-wrapper
                .single-products
                  .productinfo.text-center
                    img(src='/themes/font-end/assets/images/home/product5.jpg', alt='')
                    h2 $56
                    p Easy Polo Black Edition
                    a.btn.btn-default.add-to-cart(href='#')
                      i.fa.fa-shopping-cart
                      | Add to cart
                  .product-overlay
                    .overlay-content
                      h2 $56
                      p Easy Polo Black Edition
                      a.btn.btn-default.add-to-cart(href='#')
                        i.fa.fa-shopping-cart
                        | Add to cart
                  img.new(src='/themes/font-end/assets/images/home/sale.png', alt='')
                .choose
                  ul.nav.nav-pills.nav-justified
                    li
                      a(href='#')
                        i.fa.fa-plus-square
                        | Add to wishlist
                    li
                      a(href='#')
                        i.fa.fa-plus-square
                        | Add to compare
            .col-sm-4
              .product-image-wrapper
                .single-products
                  .productinfo.text-center
                    img(src='/themes/font-end/assets/images/home/product6.jpg', alt='')
                    h2 $56
                    p Easy Polo Black Edition
                    a.btn.btn-default.add-to-cart(href='#')
                      i.fa.fa-shopping-cart
                      | Add to cart
                  .product-overlay
                    .overlay-content
                      h2 $56
                      p Easy Polo Black Edition
                      a.btn.btn-default.add-to-cart(href='#')
                        i.fa.fa-shopping-cart
                        | Add to cart
                .choose
                  ul.nav.nav-pills.nav-justified
                    li
                      a(href='#')
                        i.fa.fa-plus-square
                        | Add to wishlist
                    li
                      a(href='#')
                        i.fa.fa-plus-square
                        | Add to compare
          // features_items
          .category-tab
            // category-tab
            .col-sm-12
              ul.nav.nav-tabs
                li.active
                  a(href='#tshirt', data-toggle='tab') T-Shirt
                li
                  a(href='#blazers', data-toggle='tab') Blazers
                li
                  a(href='#sunglass', data-toggle='tab') Sunglass
                li
                  a(href='#kids', data-toggle='tab') Kids
                li
                  a(href='#poloshirt', data-toggle='tab') Polo shirt
            .tab-content
              #tshirt.tab-pane.fade.active.in
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='/themes/font-end/assets/images/home/gallery1.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='/themes/font-end/assets/images/home/gallery2.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='/themes/font-end/assets/images/home/gallery3.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='/themes/font-end/assets/images/home/gallery4.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
              #blazers.tab-pane.fade
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='/themes/font-end/assets/images/home/gallery4.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='/themes/font-end/assets/images/home/gallery3.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='/themes/font-end/assets/images/home/gallery2.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='/themes/font-end/assets/images/home/gallery1.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
              #sunglass.tab-pane.fade
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='/themes/font-end/assets/images/home/gallery3.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='/themes/font-end/assets/images/home/gallery4.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='/themes/font-end/assets/images/home/gallery1.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='/themes/font-end/assets/images/home/gallery2.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
              #kids.tab-pane.fade
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='/themes/font-end/assets/images/home/gallery1.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='/themes/font-end/assets/images/home/gallery2.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='/themes/font-end/assets/images/home/gallery3.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='/themes/font-end/assets/images/home/gallery4.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
              #poloshirt.tab-pane.fade
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='/themes/font-end/assets/images/home/gallery2.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='/themes/font-end/assets/images/home/gallery4.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='/themes/font-end/assets/images/home/gallery3.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='/themes/font-end/assets/images/home/gallery1.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        a.btn.btn-default.add-to-cart(href='#')
                          i.fa.fa-shopping-cart
                          | Add to cart
          // /category-tab
          .recommended_items
            // recommended_items
            h2.title.text-center recommended items
            #recommended-item-carousel.carousel.slide(data-ride='carousel')
              .carousel-inner
                .item.active
                  .col-sm-4
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/themes/font-end/assets/images/home/recommend1.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-4
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/themes/font-end/assets/images/home/recommend2.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-4
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/themes/font-end/assets/images/home/recommend3.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                .item
                  .col-sm-4
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/themes/font-end/assets/images/home/recommend1.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-4
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/themes/font-end/assets/images/home/recommend2.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-4
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='/themes/font-end/assets/images/home/recommend3.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          a.btn.btn-default.add-to-cart(href='#')
                            i.fa.fa-shopping-cart
                            | Add to cart
              a.left.recommended-item-control(href='#recommended-item-carousel', data-slide='prev')
                i.fa.fa-angle-left
              a.right.recommended-item-control(href='#recommended-item-carousel', data-slide='next')
                i.fa.fa-angle-right
          // /recommended_items