extends layout
block content
  section
    .container
      .row
        .col-sm-3
          .left-sidebar
            h2 Category
            #accordian.panel-group.category-products
              //- category-productsr
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordian', href='#sportswear')
                      span.badge.pull-right
                        i.fa.fa-plus
                      | 											Sportswear
                #sportswear.panel-collapse.collapse
                  .panel-body
                    ul
                      li
                        a(href='') Nike
                      li
                        a(href='') Under Armour
                      li
                        a(href='') Adidas
                      li
                        a(href='') Puma
                      li
                        a(href='') ASICS
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordian', href='#mens')
                      span.badge.pull-right
                        i.fa.fa-plus
                      | 											Mens
                #mens.panel-collapse.collapse
                  .panel-body
                    ul
                      li
                        a(href='') Fendi
                      li
                        a(href='') Guess
                      li
                        a(href='') Valentino
                      li
                        a(href='') Dior
                      li
                        a(href='') Versace
                      li
                        a(href='') Armani
                      li
                        a(href='') Prada
                      li
                        a(href='') Dolce and Gabbana
                      li
                        a(href='') Chanel
                      li
                        a(href='') Gucci
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordian', href='#womens')
                      span.badge.pull-right
                        i.fa.fa-plus
                      | 											Womens
                #womens.panel-collapse.collapse
                  .panel-body
                    ul
                      li
                        a(href='') Fendi
                      li
                        a(href='') Guess
                      li
                        a(href='') Valentino
                      li
                        a(href='') Dior
                      li
                        a(href='') Versace
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(href='#') Kids
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(href='#') Fashion
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(href='#') Households
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(href='#') Interiors
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(href='#') Clothing
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(href='#') Bags
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(href='#') Shoes
            //- /category-products
            .brands_products
              //- brands_products
              h2 Brands
              .brands-name
                ul.nav.nav-pills.nav-stacked
                  li
                    a(href='')
                      span.pull-right (50)
                      | Acne
                  li
                    a(href='')
                      span.pull-right (56)
                      | Grüne Erde
                  li
                    a(href='')
                      span.pull-right (27)
                      | Albiro
                  li
                    a(href='')
                      span.pull-right (32)
                      | Ronhill
                  li
                    a(href='')
                      span.pull-right (5)
                      | Oddmolly
                  li
                    a(href='')
                      span.pull-right (9)
                      | Boudestijn
                  li
                    a(href='')
                      span.pull-right (4)
                      | Rösch creative culture
            //- /brands_products
            .price-range
              //- price-range
              h2 Price Range
              .well
                input#sl2.span2(type='text', value='', data-slider-min='0', data-slider-max='600', data-slider-step='5', data-slider-value='[250,450]')
                br
                b $ 0
                b.pull-right $ 600
            //- /price-range
            .shipping.text-center
              //- shipping
              img(src='../themes/frontend/assets/images/home/shipping.jpg', alt='')
            //- /shipping
        .col-sm-9.padding-right
          .product-details
            //- product-details
            .col-sm-5
              .view-product
                img(src='../themes/frontend/assets/images/product-details/1.jpg', alt='')
                h3 ZOOM
              #similar-product.carousel.slide(data-ride='carousel')
                //- Wrapper for slides
                .carousel-inner
                  .item.active
                    a(href='')
                      img(src='../themes/frontend/assets/images/product-details/similar1.jpg', alt='')
                    a(href='')
                      img(src='../themes/frontend/assets/images/product-details/similar2.jpg', alt='')
                    a(href='')
                      img(src='../themes/frontend/assets/images/product-details/similar3.jpg', alt='')
                  .item
                    a(href='')
                      img(src='../themes/frontend/assets/images/product-details/similar1.jpg', alt='')
                    a(href='')
                      img(src='../themes/frontend/assets/images/product-details/similar2.jpg', alt='')
                    a(href='')
                      img(src='../themes/frontend/assets/images/product-details/similar3.jpg', alt='')
                  .item
                    a(href='')
                      img(src='../themes/frontend/assets/images/product-details/similar1.jpg', alt='')
                    a(href='')
                      img(src='../themes/frontend/assets/images/product-details/similar2.jpg', alt='')
                    a(href='')
                      img(src='../themes/frontend/assets/images/product-details/similar3.jpg', alt='')
                //- Controls
                a.left.item-control(href='#similar-product', data-slide='prev')
                  i.fa.fa-angle-left
                a.right.item-control(href='#similar-product', data-slide='next')
                  i.fa.fa-angle-right
            .col-sm-7
              .product-information
                //- /product-information
                img.newarrival(src='../themes/frontend/assets/images/product-details/new.jpg', alt='')
                h2 Anne Klein Sleeveless Colorblock Scuba
                p Web ID: 1089772
                img(src='../themes/frontend/assets/images/product-details/rating.png', alt='')
                span
                  span US $59
                  label Quantity:
                  input(type='text', value='3')
                  button.btn.btn-fefault.cart(type='button')
                    i.fa.fa-shopping-cart
                    | 										Add to cart
                p
                  b Availability:
                  |  In Stock
                p
                  b Condition:
                  |  New
                p
                  b Brand:
                  |  E-SHOPPER
                a(href='')
                  img.share.img-responsive(src='../themes/frontend/assets/images/product-details/share.png', alt='')
              //- /product-information
          //- /product-details
          .category-tab.shop-details-tab
            //- category-tab
            .col-sm-12
              ul.nav.nav-tabs
                li
                  a(href='#details', data-toggle='tab') Details
                li
                  a(href='#companyprofile', data-toggle='tab') Company Profile
                li
                  a(href='#tag', data-toggle='tab') Tag
                li.active
                  a(href='#reviews', data-toggle='tab') Reviews (5)
            .tab-content
              #details.tab-pane.fade
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='../themes/frontend/assets/images/home/gallery1.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        button.btn.btn-default.add-to-cart(type='button')
                          i.fa.fa-shopping-cart
                          | Add to cart
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='../themes/frontend/assets/images/home/gallery2.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        button.btn.btn-default.add-to-cart(type='button')
                          i.fa.fa-shopping-cart
                          | Add to cart
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='../themes/frontend/assets/images/home/gallery3.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        button.btn.btn-default.add-to-cart(type='button')
                          i.fa.fa-shopping-cart
                          | Add to cart
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='../themes/frontend/assets/images/home/gallery4.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        button.btn.btn-default.add-to-cart(type='button')
                          i.fa.fa-shopping-cart
                          | Add to cart
              #companyprofile.tab-pane.fade
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='../themes/frontend/assets/images/home/gallery1.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        button.btn.btn-default.add-to-cart(type='button')
                          i.fa.fa-shopping-cart
                          | Add to cart
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='../themes/frontend/assets/images/home/gallery3.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        button.btn.btn-default.add-to-cart(type='button')
                          i.fa.fa-shopping-cart
                          | Add to cart
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='../themes/frontend/assets/images/home/gallery2.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        button.btn.btn-default.add-to-cart(type='button')
                          i.fa.fa-shopping-cart
                          | Add to cart
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='../themes/frontend/assets/images/home/gallery4.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        button.btn.btn-default.add-to-cart(type='button')
                          i.fa.fa-shopping-cart
                          | Add to cart
              #tag.tab-pane.fade
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='../themes/frontend/assets/images/home/gallery1.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        button.btn.btn-default.add-to-cart(type='button')
                          i.fa.fa-shopping-cart
                          | Add to cart
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='../themes/frontend/assets/images/home/gallery2.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        button.btn.btn-default.add-to-cart(type='button')
                          i.fa.fa-shopping-cart
                          | Add to cart
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='../themes/frontend/assets/images/home/gallery3.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        button.btn.btn-default.add-to-cart(type='button')
                          i.fa.fa-shopping-cart
                          | Add to cart
                .col-sm-3
                  .product-image-wrapper
                    .single-products
                      .productinfo.text-center
                        img(src='../themes/frontend/assets/images/home/gallery4.jpg', alt='')
                        h2 $56
                        p Easy Polo Black Edition
                        button.btn.btn-default.add-to-cart(type='button')
                          i.fa.fa-shopping-cart
                          | Add to cart
              #reviews.tab-pane.fade.active.in
                .col-sm-12
                  ul
                    li
                      a(href='')
                        i.fa.fa-user
                        | EUGEN
                    li
                      a(href='')
                        i.fa.fa-clock-o
                        | 12:41 PM
                    li
                      a(href='')
                        i.fa.fa-calendar-o
                        | 31 DEC 2014
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  p
                    b Write Your Review
                  form(action='#')
                    span
                      input(type='text', placeholder='Your Name')
                      input(type='email', placeholder='Email Address')
                    textarea(name='')
                    b Rating:
                    img(src='../themes/frontend/assets/images/product-details/rating.png', alt='')
                    button.btn.btn-default.pull-right(type='button')
                      | Submit
          //- /category-tab
          .recommended_items
            //- recommended_items
            h2.title.text-center recommended items
            #recommended-item-carousel.carousel.slide(data-ride='carousel')
              .carousel-inner
                .item.active
                  .col-sm-4
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='../themes/frontend/assets/images/home/recommend1.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          button.btn.btn-default.add-to-cart(type='button')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-4
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='../themes/frontend/assets/images/home/recommend2.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          button.btn.btn-default.add-to-cart(type='button')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-4
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='../themes/frontend/assets/images/home/recommend3.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          button.btn.btn-default.add-to-cart(type='button')
                            i.fa.fa-shopping-cart
                            | Add to cart
                .item
                  .col-sm-4
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='../themes/frontend/assets/images/home/recommend1.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          button.btn.btn-default.add-to-cart(type='button')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-4
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='../themes/frontend/assets/images/home/recommend2.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          button.btn.btn-default.add-to-cart(type='button')
                            i.fa.fa-shopping-cart
                            | Add to cart
                  .col-sm-4
                    .product-image-wrapper
                      .single-products
                        .productinfo.text-center
                          img(src='../themes/frontend/assets/images/home/recommend3.jpg', alt='')
                          h2 $56
                          p Easy Polo Black Edition
                          button.btn.btn-default.add-to-cart(type='button')
                            i.fa.fa-shopping-cart
                            | Add to cart
              a.left.recommended-item-control(href='#recommended-item-carousel', data-slide='prev')
                i.fa.fa-angle-left
              a.right.recommended-item-control(href='#recommended-item-carousel', data-slide='next')
                i.fa.fa-angle-right