extends ../layout-backend

block content
  .row
    .col-9
      // Column
      .card
        .card-block
          h4.card-title Categories Table
          h6.card-subtitle Export data to Copy, CSV, Excel, PDF & Print
          .table-responsive.m-t-40
            table.display.nowrap.table.table-hover.table-striped.table-bordered(cellspacing='0', width='100%', id="myTable")
              thead
                tr
                  th ID
                  th Name
                  th Level
                  th Parent
                  th Active
              tbody
                tr(v-for="cateItem in categories", v-bind:key="cateItem.cateId")
                  td {{cateItem.cateId}}
                  td {{cateItem.cateNm}}
                  td {{cateItem.cateLevel}}
                  td {{cateItem.catePrnt}}
                  td {{cateItem.activeFlag}}
    .col-3
      // Column
      .card
        .card-block
          h4.card-title Create New Category
          form.floating-labels.m-t-40
            .form-group.m-b-40
              input.form-control(type='text' name="cateId" required='', v-model="category.cateId")
              span.bar
              label(for='cateId') ID
            .form-group.m-b-40
              input.form-control(type='text' name="cateNm" required='', v-model="category.cateNm")
              span.bar
              label(for='cateNm') Name
            .form-group.m-b-40
              select.form-control.p-0(name="cateLevel" required='', v-model="category.cateLevel")
                option(v-for="opts in levels", :key="opts.value", :value="opts.value") {{opts.name}}
              span.bar
              label(for='cateLevel') Level
            .form-group.m-b-40
              select.form-control.p-0(name="catePrnt" required='', v-model="category.catePrnt")
                option
                for prntItem in cateParents
                  option= prntItem.cateNm
              span.bar
              label(for='catePrnt') Parent
            button.btn.btn-success.waves-effect.waves-light.m-r-10(type='button', @click="create()") Save
            button.btn.btn-inverse.waves-effect.waves-light(type='submit') Cancel

block externalScript
  script(src='https://unpkg.com/axios/dist/axios.min.js')
  script(src='/themes/backend/components/categories.js')

  //- Data Table
  include ../system/dataTableScript.pug

