extends ../layout-backend
block content
  .page
    .page-header
    .page-content.container-fluid
      .row
        .col-xxl-9
          // Panel Basic
          .panel
            header.panel-heading
              h3.panel-title -- Categories List --
              .panel-actions
                .btn-group.btn-group-sm(data-toggle='buttons', role='group')
                  label.btn.btn-info.active
                    input.views(type='checkbox', value='heading', checked='')
                    |  Heading
                  label.btn.btn-info.active
                    input.views(type='checkbox', value='filtering')
                    |  Filtering
                  label.btn.btn-info
                    input.views(type='checkbox', value='inserting')
                    |  Inserting
                  label.btn.btn-info.active
                    input.views(type='checkbox', value='editing', checked='')
                    |  Editing
                  label.btn.btn-info.active
                    input.views(type='checkbox', value='paging', checked='')
                    |  Paging
                  label.btn.btn-info.active
                    input.views(type='checkbox', value='sorting', checked='')
                    |  Sorting
                  label.btn.btn-info.active
                    input.views(type='checkbox', value='selecting', checked='')
                    |  Selecting
            .panel-body
              #customViews
//- Script
block scripts
  script(src='vendor/jsgrid/jsgrid.js')
  script(src='themes/backend/components/com-categories-db.js')
  script(src='themes/backend/components/com-categories.js')