extends ../layout-backend

block externalStyle
  link(href='themes/backend/assets/plugins/Magnific-Popup-master/dist/magnific-popup.css', rel='stylesheet')

block content
  .row.el-element-overlay
    .col-md-12
      h4.card-title Gallery page
      h6.card-subtitle.m-b-20.text-muted you can make gallery like this
    .col-lg-3.col-md-6
      .card
        .el-card-item
          .el-card-avatar.el-overlay-1
            img(src='themes/backend/assets/images/big/img1.jpg', alt='user')
            .el-overlay
              ul.el-info
                li
                  a.btn.default.btn-outline.image-popup-vertical-fit(href='themes/backend/assets/images/users/1.jpg')
                    i.icon-magnifier
                li
                  a.btn.default.btn-outline(href='javascript:void(0);')
                    i.icon-link
          .el-card-content
            h3.box-title Project title
            small subtitle of project
            br
    .col-lg-3.col-md-6
      .card
        .el-card-item
          .el-card-avatar.el-overlay-1
            img(src='themes/backend/assets/images/big/img2.jpg', alt='user')
            .el-overlay
              ul.el-info
                li
                  a.btn.default.btn-outline.image-popup-vertical-fit(href='themes/backend/assets/images/users/1.jpg')
                    i.icon-magnifier
                li
                  a.btn.default.btn-outline(href='javascript:void(0);')
                    i.icon-link
          .el-card-content
            h3.box-title Project title
            small subtitle of project
            br
    .col-lg-3.col-md-6
      .card
        .el-card-item
          .el-card-avatar.el-overlay-1
            img(src='themes/backend/assets/images/big/img3.jpg', alt='user')
            .el-overlay
              ul.el-info
                li
                  a.btn.default.btn-outline.image-popup-vertical-fit(href='themes/backend/assets/images/users/1.jpg')
                    i.icon-magnifier
                li
                  a.btn.default.btn-outline(href='javascript:void(0);')
                    i.icon-link
          .el-card-content
            h3.box-title Project title
            small subtitle of project
            br
    .col-lg-3.col-md-6
      .card
        .el-card-item
          .el-card-avatar.el-overlay-1
            img(src='themes/backend/assets/images/big/img4.jpg', alt='user')
            .el-overlay
              ul.el-info
                li
                  a.btn.default.btn-outline.image-popup-vertical-fit(href='themes/backend/assets/images/users/1.jpg')
                    i.icon-magnifier
                li
                  a.btn.default.btn-outline(href='javascript:void(0);')
                    i.icon-link
          .el-card-content
            h3.box-title Project title
            small subtitle of project
            br
    .col-lg-3.col-md-6
      .card
        .el-card-item
          .el-card-avatar.el-overlay-1
            img(src='themes/backend/assets/images/big/img3.jpg', alt='user')
            .el-overlay
              ul.el-info
                li
                  a.btn.default.btn-outline.image-popup-vertical-fit(href='themes/backend/assets/images/users/1.jpg')
                    i.icon-magnifier
                li
                  a.btn.default.btn-outline(href='javascript:void(0);')
                    i.icon-link
          .el-card-content
            h3.box-title Project title
            small subtitle of project
            br
    .col-lg-3.col-md-6
      .card
        .el-card-item
          .el-card-avatar.el-overlay-1
            img(src='themes/backend/assets/images/big/img5.jpg', alt='user')
            .el-overlay
              ul.el-info
                li
                  a.btn.default.btn-outline.image-popup-vertical-fit(href='themes/backend/assets/images/users/1.jpg')
                    i.icon-magnifier
                li
                  a.btn.default.btn-outline(href='javascript:void(0);')
                    i.icon-link
          .el-card-content
            h3.box-title Project title
            small subtitle of project
            br
    .col-lg-3.col-md-6
      .card
        .el-card-item
          .el-card-avatar.el-overlay-1
            img(src='themes/backend/assets/images/big/img6.jpg', alt='user')
            .el-overlay
              ul.el-info
                li
                  a.btn.default.btn-outline.image-popup-vertical-fit(href='themes/backend/assets/images/users/1.jpg')
                    i.icon-magnifier
                li
                  a.btn.default.btn-outline(href='javascript:void(0);')
                    i.icon-link
          .el-card-content
            h3.box-title Project title
            small subtitle of project
            br
    .col-lg-3.col-md-6
      .card
        .el-card-item
          .el-card-avatar.el-overlay-1
            img(src='themes/backend/assets/images/big/img1.jpg', alt='user')
            .el-overlay
              ul.el-info
                li
                  a.btn.default.btn-outline.image-popup-vertical-fit(href='themes/backend/assets/images/users/1.jpg')
                    i.icon-magnifier
                li
                  a.btn.default.btn-outline(href='javascript:void(0);')
                    i.icon-link
          .el-card-content
            h3.box-title Project title
            small subtitle of project
            br
  .row.m-t-40
    .col-md-12
      h4.card-title Other Gallery 
      h6.card-subtitle.m-b-20.text-muted you can make gallery like this
  .card-columns.el-element-overlay
    .card
      .el-card-item
        .el-card-avatar.el-overlay-1
          a.image-popup-vertical-fit(href='themes/backend/assets/images/big/img5.jpg')
            img(src='themes/backend/assets/images/big/img5.jpg', alt='user')
        .el-card-content
          h3.box-title Project title
          small subtitle of project
          br
    .card
      .el-card-item
        .el-card-avatar.el-overlay-1
          a.image-popup-vertical-fit(href='themes/backend/assets/images/users/1.jpg')
            img(src='themes/backend/assets/images/users/1.jpg', alt='user')
        .el-card-content
          h3.box-title Project title
          small subtitle of project
          br
    .card
      .el-card-item
        .el-card-avatar.el-overlay-1
          a.image-popup-vertical-fit(href='themes/backend/assets/images/users/2.jpg')
            img(src='themes/backend/assets/images/users/2.jpg', alt='user')
        .el-card-content
          h3.box-title Project title
          small subtitle of project
          br
    .card
      .el-card-item
        .el-card-avatar.el-overlay-1
          a.image-popup-vertical-fit(href='themes/backend/assets/images/big/img4.jpg')
            img(src='themes/backend/assets/images/big/img4.jpg', alt='user')
        .el-card-content
          h3.box-title Project title
          small subtitle of project
          br
    .card
      .el-card-item
        .el-card-avatar.el-overlay-1
          a.image-popup-vertical-fit(href='themes/backend/assets/images/big/img2.jpg')
            img(src='themes/backend/assets/images/big/img2.jpg', alt='user')
        .el-card-content
          h3.box-title Project title
          small subtitle of project
          br
    .card
      .el-card-item
        .el-card-avatar.el-overlay-1
          a.image-popup-vertical-fit(href='themes/backend/assets/images/users/1.jpg')
            img(src='themes/backend/assets/images/big/img1.jpg', alt='user')
        .el-card-content
          h3.box-title Project title
          small subtitle of project
          br
          
block externalScript
  script(src='themes/backend/assets/plugins/Magnific-Popup-master/dist/jquery.magnific-popup.min.js')
  script(src='themes/backend/assets/plugins/Magnific-Popup-master/dist/jquery.magnific-popup-init.js')
