doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Checkout | E-Shopper
    link(href='../themes/font-end/assets/css/bootstrap.min.css', rel='stylesheet')
    link(href='../themes/font-end/assets/css/font-awesome.min.css', rel='stylesheet')
    link(href='../themes/font-end/assets/css/prettyPhoto.css', rel='stylesheet')
    link(href='../themes/font-end/assets/css/price-range.css', rel='stylesheet')
    link(href='../themes/font-end/assets/css/animate.css', rel='stylesheet')
    link(href='../themes/font-end/assets/css/main.css', rel='stylesheet')
    link(href='../themes/font-end/assets/css/responsive.css', rel='stylesheet')
    //if lt IE 9
      script(src='../themes/font-end/assets/js/html5shiv.js')
      script(src='../themes/font-end/assets/js/respond.min.js')
    link(rel='shortcut icon', href='images/ico/favicon.ico')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='images/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='images/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='images/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='images/ico/apple-touch-icon-57-precomposed.png')
  // /head
  body
    header#header
      // header
      .header_top
        // header_top
        .container
          .row
            .col-sm-6
              .contactinfo
                ul.nav.nav-pills
                  li
                    a(href='')
                      i.fa.fa-phone
                      |  +2 95 01 88 821
                  li
                    a(href='')
                      i.fa.fa-envelope
                      |  info@domain.com
            .col-sm-6
              .social-icons.pull-right
                ul.nav.navbar-nav
                  li
                    a(href='')
                      i.fa.fa-facebook
                  li
                    a(href='')
                      i.fa.fa-twitter
                  li
                    a(href='')
                      i.fa.fa-linkedin
                  li
                    a(href='')
                      i.fa.fa-dribbble
                  li
                    a(href='')
                      i.fa.fa-google-plus
      // /header_top
      .header-middle
        // header-middle
        .container
          .row
            .col-sm-4
              .logo.pull-left
                a(href='/index')
                  img(src='../themes/font-end/assets/images/home/logo.png', alt='')
              .btn-group.pull-right
                .btn-group
                  button.btn.btn-default.dropdown-toggle.usa(type='button', data-toggle='dropdown')
                    | USA
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='') Canada
                    li
                      a(href='') UK
                .btn-group
                  button.btn.btn-default.dropdown-toggle.usa(type='button', data-toggle='dropdown')
                    | DOLLAR
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='') Canadian Dollar
                    li
                      a(href='') Pound
            .col-sm-8
              .shop-menu.pull-right
                ul.nav.navbar-nav
                  li
                    a(href='')
                      i.fa.fa-user
                      |  Account
                  li
                    a(href='')
                      i.fa.fa-star
                      |  Wishlist
                  li
                    a.active(href='/checkout')
                      i.fa.fa-crosshairs
                      |  Checkout
                  li
                    a(href='/cart')
                      i.fa.fa-shopping-cart
                      |  Cart
                  li
                    a(href='/login')
                      i.fa.fa-lock
                      |  Login
      // /header-middle
      .header-bottom
        // header-bottom
        .container
          .row
            .col-sm-9
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              .mainmenu.pull-left
                ul.nav.navbar-nav.collapse.navbar-collapse
                  li
                    a(href='/index') Home
                  li.dropdown
                    a(href='#')
                      | Shop
                      i.fa.fa-angle-down
                    ul.sub-menu(role='menu')
                      li
                        a(href='/shop') Products
                      li
                        a(href='/prod') Product Details
                      li
                        a.active(href='/checkout') Checkout
                      li
                        a(href='/cart') Cart
                      li
                        a(href='/login') Login
                  li.dropdown
                    a(href='#')
                      | Blog
                      i.fa.fa-angle-down
                    ul.sub-menu(role='menu')
                      li
                        a(href='blog.ejs') Blog List
                      li
                        a(href='blog-single.ejs') Blog Single
                  li
                    a(href='/404') 404
                  li
                    a(href='/contact') Contact
            .col-sm-3
              .search_box.pull-right
                input(type='text', placeholder='Search')
      // /header-bottom
    // /header
    section#cart_items
      .container
        .breadcrumbs
          ol.breadcrumb
            li
              a(href='#') Home
            li.active Check out
        // /breadcrums
        .step-one
          h2.heading Step1
        .checkout-options
          h3 New User
          p Checkout options
          ul.nav
            li
              label
                input(type='checkbox')
                |  Register Account
            li
              label
                input(type='checkbox')
                |  Guest Checkout
            li
              a(href='')
                i.fa.fa-times
                | Cancel
        // /checkout-options
        .register-req
          p
            | Please use Register And Checkout to easily get access to your order history, or use Checkout as Guest
        // /register-req
        .shopper-informations
          .row
            .col-sm-3
              .shopper-info
                p Shopper Information
                form
                  input(type='text', placeholder='Display Name')
                  input(type='text', placeholder='User Name')
                  input(type='password', placeholder='Password')
                  input(type='password', placeholder='Confirm password')
                a.btn.btn-primary(href='') Get Quotes
                a.btn.btn-primary(href='') Continue
            .col-sm-5.clearfix
              .bill-to
                p Bill To
                .form-one
                  form
                    input(type='text', placeholder='Company Name')
                    input(type='text', placeholder='Email*')
                    input(type='text', placeholder='Title')
                    input(type='text', placeholder='First Name *')
                    input(type='text', placeholder='Middle Name')
                    input(type='text', placeholder='Last Name *')
                    input(type='text', placeholder='Address 1 *')
                    input(type='text', placeholder='Address 2')
                .form-two
                  form
                    input(type='text', placeholder='Zip / Postal Code *')
                    select
                      option -- Country --
                      option United States
                      option Bangladesh
                      option UK
                      option India
                      option Pakistan
                      option Ucrane
                      option Canada
                      option Dubai
                    select
                      option -- State / Province / Region --
                      option United States
                      option Bangladesh
                      option UK
                      option India
                      option Pakistan
                      option Ucrane
                      option Canada
                      option Dubai
                    input(type='password', placeholder='Confirm password')
                    input(type='text', placeholder='Phone *')
                    input(type='text', placeholder='Mobile Phone')
                    input(type='text', placeholder='Fax')
            .col-sm-4
              .order-message
                p Shipping Order
                textarea(name='message', placeholder='Notes about your order, Special Notes for Delivery', rows='16')
                label
                  input(type='checkbox')
                  |  Shipping to bill address
        .review-payment
          h2 Review & Payment
        .table-responsive.cart_info
          table.table.table-condensed
            thead
              tr.cart_menu
                td.image Item
                td.description
                td.price Price
                td.quantity Quantity
                td.total Total
                td
            tbody
              tr
                td.cart_product
                  a(href='')
                    img(src='../themes/font-end/assets/images/cart/one.png', alt='')
                td.cart_description
                  h4
                    a(href='') Colorblock Scuba
                  p Web ID: 1089772
                td.cart_price
                  p $59
                td.cart_quantity
                  .cart_quantity_button
                    a.cart_quantity_up(href='')  +
                    input.cart_quantity_input(type='text', name='quantity', value='1', autocomplete='off', size='2')
                    a.cart_quantity_down(href='')  -
                td.cart_total
                  p.cart_total_price $59
                td.cart_delete
                  a.cart_quantity_delete(href='')
                    i.fa.fa-times
              tr
                td.cart_product
                  a(href='')
                    img(src='../themes/font-end/assets/images/cart/two.png', alt='')
                td.cart_description
                  h4
                    a(href='') Colorblock Scuba
                  p Web ID: 1089772
                td.cart_price
                  p $59
                td.cart_quantity
                  .cart_quantity_button
                    a.cart_quantity_up(href='')  +
                    input.cart_quantity_input(type='text', name='quantity', value='1', autocomplete='off', size='2')
                    a.cart_quantity_down(href='')  -
                td.cart_total
                  p.cart_total_price $59
                td.cart_delete
                  a.cart_quantity_delete(href='')
                    i.fa.fa-times
              tr
                td.cart_product
                  a(href='')
                    img(src='../themes/font-end/assets/images/cart/three.png', alt='')
                td.cart_description
                  h4
                    a(href='') Colorblock Scuba
                  p Web ID: 1089772
                td.cart_price
                  p $59
                td.cart_quantity
                  .cart_quantity_button
                    a.cart_quantity_up(href='')  +
                    input.cart_quantity_input(type='text', name='quantity', value='1', autocomplete='off', size='2')
                    a.cart_quantity_down(href='')  -
                td.cart_total
                  p.cart_total_price $59
                td.cart_delete
                  a.cart_quantity_delete(href='')
                    i.fa.fa-times
              tr
                td(colspan='4')  
                td(colspan='2')
                  table.table.table-condensed.total-result
                    tr
                      td Cart Sub Total
                      td $59
                    tr
                      td Exo Tax
                      td $2
                    tr.shipping-cost
                      td Shipping Cost
                      td Free
                    tr
                      td Total
                      td
                        span $61
        .payment-options
          span
            label
              input(type='checkbox')
              |  Direct Bank Transfer
          span
            label
              input(type='checkbox')
              |  Check Payment
          span
            label
              input(type='checkbox')
              |  Paypal
    // /#cart_items
    footer#footer
      // Footer
      .footer-top
        .container
          .row
            .col-sm-2
              .companyinfo
                h2
                  span e
                  | -shopper
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor
            .col-sm-7
              .col-sm-3
                .video-gallery.text-center
                  a(href='#')
                    .iframe-img
                      img(src='../themes/font-end/assets/images/home/iframe1.png', alt='')
                    .overlay-icon
                      i.fa.fa-play-circle-o
                  p Circle of Hands
                  h2 24 DEC 2014
              .col-sm-3
                .video-gallery.text-center
                  a(href='#')
                    .iframe-img
                      img(src='../themes/font-end/assets/images/home/iframe2.png', alt='')
                    .overlay-icon
                      i.fa.fa-play-circle-o
                  p Circle of Hands
                  h2 24 DEC 2014
              .col-sm-3
                .video-gallery.text-center
                  a(href='#')
                    .iframe-img
                      img(src='../themes/font-end/assets/images/home/iframe3.png', alt='')
                    .overlay-icon
                      i.fa.fa-play-circle-o
                  p Circle of Hands
                  h2 24 DEC 2014
              .col-sm-3
                .video-gallery.text-center
                  a(href='#')
                    .iframe-img
                      img(src='../themes/font-end/assets/images/home/iframe4.png', alt='')
                    .overlay-icon
                      i.fa.fa-play-circle-o
                  p Circle of Hands
                  h2 24 DEC 2014
            .col-sm-3
              .address
                img(src='../themes/font-end/assets/images/home/map.png', alt='')
                p 505 S Atlantic Ave Virginia Beach, VA(Virginia)
      .footer-widget
        .container
          .row
            .col-sm-2
              .single-widget
                h2 Service
                ul.nav.nav-pills.nav-stacked
                  li
                    a(href='') Online Help
                  li
                    a(href='') Contact Us
                  li
                    a(href='') Order Status
                  li
                    a(href='') Change Location
                  li
                    a(href='') FAQ’s
            .col-sm-2
              .single-widget
                h2 Quock Shop
                ul.nav.nav-pills.nav-stacked
                  li
                    a(href='') T-Shirt
                  li
                    a(href='') Mens
                  li
                    a(href='') Womens
                  li
                    a(href='') Gift Cards
                  li
                    a(href='') Shoes
            .col-sm-2
              .single-widget
                h2 Policies
                ul.nav.nav-pills.nav-stacked
                  li
                    a(href='') Terms of Use
                  li
                    a(href='') Privecy Policy
                  li
                    a(href='') Refund Policy
                  li
                    a(href='') Billing System
                  li
                    a(href='') Ticket System
            .col-sm-2
              .single-widget
                h2 About Shopper
                ul.nav.nav-pills.nav-stacked
                  li
                    a(href='') Company Information
                  li
                    a(href='') Careers
                  li
                    a(href='') Store Location
                  li
                    a(href='') Affillate Program
                  li
                    a(href='') Copyright
            .col-sm-3.col-sm-offset-1
              .single-widget
                h2 About Shopper
                form.searchform(action='#')
                  input(type='text', placeholder='Your email address')
                  button.btn.btn-default(type='submit')
                    i.fa.fa-arrow-circle-o-right
                  p
                    | Get the most recent updates from
                    br
                    | our site and be updated your self...
      .footer-bottom
        .container
          .row
            p.pull-left Copyright © 2013 E-SHOPPER Inc. All rights reserved.
            p.pull-right
              | Designed by
              span
                a(target='_blank', href='http://www.themeum.com') Themeum
    // /Footer
    script(src='../themes/font-end/assets/js/jquery.js')
    script(src='../themes/font-end/assets/js/bootstrap.min.js')
    script(src='../themes/font-end/assets/js/jquery.scrollUp.min.js')
    script(src='../themes/font-end/assets/js/jquery.prettyPhoto.js')
    script(src='../themes/font-end/assets/js/main.js')
