h2 Create New Category
form(action="/createCate" method="post")
  input(type='text', placeholder='ID', name="cateid")
  input(type='text', placeholder='Name', name="catenm")
  input(type='text', placeholder='Parent', name="cateprnt")
  button.btn.btn-default(type='submit') Create Category
  p -------------------------------------------------------------------------------------------------
  ul
    p(style='font-weight: bold') ---- List Category ----
    table(style='border: 1px')
      each cItem in categories
        tr 
          td(style='width: 150px')= cItem.cateId
          td(style='width: 150px')= cItem.cateNm
          td(style='width: 150px')= cItem.catePrnt
