extends layout
block content
  .content
    .container-fluid
      .row
        .col-md-12
          .card
            .header
              h4.title Paper Dashboard Headings
              p.category
                | Created using 
                a(href='https://www.google.com/fonts/specimen/Muli') Muli
                |  Font Family
            .content
              .typo-line
                h1
                  p.category Header 1
                  | Paper Dashboard Heading
              .typo-line
                h2
                  p.category Header 2
                  | Paper Dashboard Heading
              .typo-line
                h3
                  p.category Header 3
                  | Paper Dashboard Heading
              .typo-line
                h4
                  p.category Header 4
                  | Paper Dashboard Heading
              .typo-line
                h5
                  p.category Header 5
                  | Paper Dashboard Heading
              .typo-line
                h6
                  p.category Header 6
                  | Paper Dashboard Heading
              .typo-line
                p
                  span.category Paragraph
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
              .typo-line
                p.category Quote
                blockquote
                  p
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
                  small
                    | Steve Jobs, CEO Apple
              .typo-line
                p.category Muted Text
                p.text-muted
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
              .typo-line
                //
                  there are also "text-info", "text-success", "text-warning", "text-danger" clases for the text
                p.category Coloured Text
                p.text-primary
                  | Text Primary - Light Bootstrap Table Heading and complex bootstrap dashboard you've ever seen on the internet.
                p.text-info
                  | Text Info - Light Bootstrap Table Heading and complex bootstrap dashboard you've ever seen on the internet.
                p.text-success
                  | Text Success - Light Bootstrap Table Heading and complex bootstrap dashboard you've ever seen on the internet.
                p.text-warning
                  | Text Warning - Light Bootstrap Table Heading and complex bootstrap dashboard you've ever seen on the internet.
                p.text-danger
                  | Text Danger - Light Bootstrap Table Heading and complex bootstrap dashboard you've ever seen on the internet.
              .typo-line
                h2
                  p.category Small Tag
                  | Header with small subtitle 
                  br
                  small ".small" is a tag for the headers