extends layout
block content
  .content
    .container-fluid
      .row
        .col-md-8.col-md-offset-2
          .card
            .header.text-center
              h3.title Paper Dashboard
              p.category
                | Are you looking for more components? Please check our Premium Version of Paper Dashboard Pro.
              br
            .content.table-responsive.table-full-width.table-upgrade
              table.table
                thead
                  th
                  th.text-center Free
                  th.text-center PRO
                tbody
                  tr
                    td Components
                    td 16
                    td 160
                  tr
                    td Plugins
                    td 4
                    td 15
                  tr
                    td Example Pages
                    td 4
                    td 25
                  tr
                    td Documentation
                    td
                      i.fa.fa-times.text-danger
                    td
                      i.fa.fa-check.text-success
                  tr
                    td SASS Files
                    td
                      i.fa.fa-check.text-success
                    td
                      i.fa.fa-check.text-success
                  tr
                    td Login/Register/Lock Pages
                    td
                      i.fa.fa-times.text-danger
                    td
                      i.fa.fa-check.text-success
                  tr
                    td Premium Support
                    td
                      i.fa.fa-times.text-danger
                    td
                      i.fa.fa-check.text-success
                  tr
                    td
                    td Free
                    td Just $39
                  tr
                    td
                    td
                      a.btn.btn-round.btn-fill.btn-default.disabled(href='#') Current Version
                    td
                      a.btn.btn-round.btn-fill.btn-info(target='_blank', href='http://www.creative-tim.com/product/paper-dashboard-pro/?ref=pdfree-upgrade-archive') Upgrade to PRO