extends layout-backend
block content
  .row
    //- Column
    .col-lg-3.col-md-6
      .card
        .card-block
          h4.card-title Daily Sales
          .text-right
            h2.font-light.m-b-0
              i.ti-arrow-up.text-success
              |  $120
            span.text-muted Todays Income
          span.text-success 80%
          .progress
            .progress-bar.bg-success(role='progressbar', style='width: 80%; height: 6px;', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
    //- Column
    //- Column
    .col-lg-3.col-md-6
      .card
        .card-block
          h4.card-title Weekly Sales
          .text-right
            h2.font-light.m-b-0
              i.ti-arrow-up.text-info
              |  $5,000
            span.text-muted Todays Income
          span.text-info 30%
          .progress
            .progress-bar.bg-info(role='progressbar', style='width: 30%; height: 6px;', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
    //- Column
    //- Column
    .col-lg-3.col-md-6
      .card
        .card-block
          h4.card-title Monthly Sales
          .text-right
            h2.font-light.m-b-0
              i.ti-arrow-up.text-purple
              |  $8,000
            span.text-muted Todays Income
          span.text-purple 60%
          .progress
            .progress-bar.bg-purple(role='progressbar', style='width: 60%; height: 6px;', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
    //- Column
    //- Column
    .col-lg-3.col-md-6
      .card
        .card-block
          h4.card-title Yearly Sales
          .text-right
            h2.font-light.m-b-0
              i.ti-arrow-down.text-danger
              |  $12,000
            span.text-muted Todays Income
          span.text-danger 80%
          .progress
            .progress-bar.bg-danger(role='progressbar', style='width: 80%; height: 6px;', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
    //- Column
  //- Row
  //- Row
  .row
    //- Column
    .col-lg-12
      .card
        .card-block
          .row
            .col-12
              .d-flex.flex-wrap
                div
                  h3 Revenue Statistics
                  h6.card-subtitle January 2017
                .ml-auto
                  ul.list-inline
                    li
                      h6.text-muted
                        i.fa.fa-circle.m-r-5.text-success
                        | Product A
                    li
                      h6.text-muted
                        i.fa.fa-circle.m-r-5.text-info
                        | Product B
            .col-12
              .total-revenue4(style='height: 350px;')
            .col-lg-3.col-md-6.m-b-30.m-t-20.text-center
              h1.m-b-0.font-light $54578
              h6.text-muted Total Revenue
            .col-lg-3.col-md-6.m-b-30.m-t-20.text-center
              h1.m-b-0.font-light $43451
              h6.text-muted Online Revenue
            .col-lg-3.col-md-6.m-b-30.m-t-20.text-center
              h1.m-b-0.font-light $44578
              h6.text-muted Product A
            .col-lg-3.col-md-6.m-b-30.m-t-20.text-center
              h1.m-b-0.font-light $12578
              h6.text-muted Product B
  //- Row
  //- Row
  .row
    .col-lg-4.col-md-12
      .card
        .card-block
          h4.card-title Sales of the Month
          #sales-donute(style='width:100%; height:300px;')
          .round-overlap.m-t-20
            i.mdi.mdi-cart
          ul.list-inline.m-t-30.text-center
            li
              i.fa.fa-circle.text-purple
              |  Item A
            li
              i.fa.fa-circle.text-success
              |  Item B
            li
              i.fa.fa-circle.text-info
              |  Item C
    .col-lg-4.col-md-12
      .row
        .col-12
          .card
            .card-block
              h4.card-title Sales Prediction
              .d-flex.flex-row
                .align-self-center
                  span.display-6 $3528
                  h6.text-muted (150-165 Sales)
                .ml-auto
                  #gauge-chart(style=' width:150px; height:150px;')
        .col-12
          .card
            .card-block
              h4.card-title Sales Difference
              .d-flex.flex-row
                .align-self-center
                  span.display-6 $4316
                  h6.text-muted (150-165 Sales)
                .ml-auto
                  .ct-chart(style='width:120px; height: 120px;')
    .col-lg-4.col-md-12
      .card
        .card-block
          .d-flex.flex-row
            div
              img.img-circle(src='themes/backend/assets/images/users/1.jpg', alt='user', width='100')
            .p-l-20
              h3.font-medium Daniel Kristeen
              h6 UIUX Designer
              button.btn.btn-success
                i.ti-plus
                |  Follow
          .row.m-t-40
            .col.b-r
              h2.font-light 14
              h6 Photos
            .col.b-r
              h2.font-light 54
              h6 Videos
            .col
              h2.font-light 145
              h6 Tasks
        div
          hr
        .card-block
          p.text-center.aboutscroll
            | Lorem ipsum dolor sit ametetur adipisicing elit, sed do eiusmod tempor incididunt adipisicing elit, sed do eiusmod tempor incididunLorem ipsum dolor sit ametetur adipisicing elit, sed do eiusmod tempor incididuntt
          ul.list-icons.d-flex.flex-item.text-center.p-t-10
            li.col
              a(href='javascript:void(0)', data-toggle='tooltip', title='', data-original-title='Website')
                i.fa.fa-globe.font-20
            li.col
              a(href='javascript:void(0)', data-toggle='tooltip', title='', data-original-title='twitter')
                i.fa.fa-twitter.font-20
            li.col
              a(href='javascript:void(0)', data-toggle='tooltip', title='', data-original-title='Facebook')
                i.fa.fa-facebook-square.font-20
            li.col
              a(href='javascript:void(0)', data-toggle='tooltip', title='', data-original-title='Youtube')
                i.fa.fa-youtube-play.font-20
            li.col
              a(href='javascript:void(0)', data-toggle='tooltip', title='', data-original-title='Linkd-in')
                i.fa.fa-linkedin-square.font-20
  //- Row
  //- Row
  .row
    .col-lg-6
      .card
        .card-block
          h4.card-title Recent Chats
          .chat-box
            //- chat Row
            ul.chat-list
              //- chat Row
              li
                .chat-img
                  img(src='themes/backend/assets/images/users/1.jpg', alt='user')
                .chat-content
                  h5 James Anderson
                  .box.bg-light-info Lorem Ipsum is simply dummy text of the printing & type setting industry.
                .chat-time 10:56 am
              //- chat Row
              li
                .chat-img
                  img(src='themes/backend/assets/images/users/2.jpg', alt='user')
                .chat-content
                  h5 Bianca Doe
                  .box.bg-light-success It’s Great opportunity to work.
                .chat-time 10:57 am
              //- chat Row
              li.odd
                .chat-content
                  .box.bg-light-inverse I would love to join the team.
                  br
                .chat-time 10:58 am
              //- chat Row
              li.odd
                .chat-content
                  .box.bg-light-inverse Whats budget of the new project.
                  br
                .chat-time 10:59 am
              //- chat Row
              li
                .chat-img
                  img(src='themes/backend/assets/images/users/3.jpg', alt='user')
                .chat-content
                  h5 Angelina Rhodes
                  .box.bg-light-primary Well we have good budget for the project
                .chat-time 11:00 am
              //- chat Row
        .card-block.b-t
          .row
            .col-8
              textarea.form-control.b-0(placeholder='Type your message here')
            .col-4.text-right
              button.btn.btn-info.btn-circle.btn-lg(type='button')
                i.fa.fa-paper-plane-o
    .col-lg-6
      .card
        .card-block
          h4.card-title Recent Messages
          .message-box
            .message-widget.message-scroll
              //- Message
              a(href='index.html#')
                .user-img
                  img.img-circle(src='themes/backend/assets/images/users/1.jpg', alt='user')
                  span.profile-status.online.pull-right
                .mail-contnet
                  h5 Pavan kumar
                  span.mail-desc
                    | Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been.
                  span.time 9:30 AM
              //- Message
              a(href='index.html#')
                .user-img
                  img.img-circle(src='themes/backend/assets/images/users/2.jpg', alt='user')
                  span.profile-status.busy.pull-right
                .mail-contnet
                  h5 Sonu Nigam
                  span.mail-desc I've sung a song! See you at
                  span.time 9:10 AM
              //- Message
              a(href='index.html#')
                .user-img
                  span.round A
                  span.profile-status.away.pull-right
                .mail-contnet
                  h5 Arijit Sinh
                  span.mail-desc Simply dummy text of the printing and typesetting industry.
                  span.time 9:08 AM
              //- Message
              a(href='index.html#')
                .user-img
                  img.img-circle(src='themes/backend/assets/images/users/4.jpg', alt='user')
                  span.profile-status.offline.pull-right
                .mail-contnet
                  h5 Pavan kumar
                  span.mail-desc Just see the my admin!
                  span.time 9:02 AM
              //- Message
              a(href='index.html#')
                .user-img
                  img.img-circle(src='themes/backend/assets/images/users/1.jpg', alt='user')
                  span.profile-status.online.pull-right
                .mail-contnet
                  h5 Pavan kumar
                  span.mail-desc Welcome to the Elite Admin
                  span.time 9:30 AM
              //- Message
              a(href='index.html#')
                .user-img
                  img.img-circle(src='themes/backend/assets/images/users/2.jpg', alt='user')
                  span.profile-status.busy.pull-right
                .mail-contnet
                  h5 Sonu Nigam
                  span.mail-desc I've sung a song! See you at
                  span.time 9:10 AM
              //- Message
              a(href='index.html#')
                .user-img
                  img.img-circle(src='themes/backend/assets/images/users/3.jpg', alt='user')
                  span.profile-status.away.pull-right
                .mail-contnet
                  h5 Arijit Sinh
                  span.mail-desc I am a singer!
                  span.time 9:08 AM
              //- Message
              a(href='index.html#')
                .user-img
                  img.img-circle(src='themes/backend/assets/images/users/4.jpg', alt='user')
                  span.profile-status.offline.pull-right
                .mail-contnet
                  h5 Pavan kumar
                  span.mail-desc Just see the my admin!
                  span.time 9:02 AM
  //- Row
  //- Row
  .row
    .col-lg-8
      .card
        .card-block
          select.custom-select.pull-right
            option(selected='') January
            option(value='1') February
            option(value='2') March
            option(value='3') April
          h4.card-title Projects of the Month
          .table-responsive.m-t-40
            table.table.stylish-table
              thead
                tr
                  th(colspan='2') Assigned
                  th Name
                  th Priority
                  th Budget
              tbody
                tr
                  td(style='width:50px;')
                    span.round S
                  td
                    h6 Sunil Joshi
                    small.text-muted Web Designer
                  td Elite Admin
                  td
                    span.label.label-light-success Low
                  td $3.9K
                tr.active
                  td
                    span.round
                      img(src='themes/backend/assets/images/users/2.jpg', alt='user', width='50')
                  td
                    h6 Andrew
                    small.text-muted Project Manager
                  td Real Homes
                  td
                    span.label.label-light-info Medium
                  td $23.9K
                tr
                  td
                    span.round.round-success B
                  td
                    h6 Bhavesh patel
                    small.text-muted Developer
                  td MedicalPro Theme
                  td
                    span.label.label-light-danger High
                  td $12.9K
                tr
                  td
                    span.round.round-primary N
                  td
                    h6 Nirav Joshi
                    small.text-muted Frontend Eng
                  td Elite Admin
                  td
                    span.label.label-light-success Low
                  td $10.9K
                tr
                  td
                    span.round.round-warning M
                  td
                    h6 Micheal Doe
                    small.text-muted Content Writer
                  td Helping Hands
                  td
                    span.label.label-light-danger High
                  td $12.9K
                tr
                  td
                    span.round.round-danger N
                  td
                    h6 Johnathan
                    small.text-muted Graphic
                  td Digital Agency
                  td
                    span.label.label-light-danger High
                  td $2.6K
    .col-lg-4
      .card
        .card-block
          select.custom-select.pull-right
            option(selected='') Today
            option(value='1') Weekly
          h4.card-title Weather Report
          .d-flex.align-items-center.flex-row.m-t-30
            .p-2.display-5.text-info
              i.wi.wi-day-showers
              span
                | 73
                sup °
            .p-2
              h3.m-b-0 Saturday
              small Ahmedabad, India
          table.table.no-border
            tr
              td Wind
              td.font-medium ESE 17 mph
            tr
              td Humidity
              td.font-medium 83%
            tr
              td Pressure
              td.font-medium 28.56 in
            tr
              td Cloud Cover
              td.font-medium 78%
            tr
              td Ceiling
              td.font-medium 25760 ft
          hr
          ul.list-unstyled.row.text-center.city-weather-days
            li.col
              i.wi.wi-day-sunny
              span 09:30
              h3
                | 70
                sup °
            li.col
              i.wi.wi-day-cloudy
              span 11:30
              h3
                | 72
                sup °
            li.col
              i.wi.wi-day-hail
              span 13:30
              h3
                | 75
                sup °
            li.col
              i.wi.wi-day-sprinkle
              span 15:30
              h3
                | 76
                sup °
  //- Row
  //- Row
  .row
    //- Column
    .col-lg-4
      .card
        img.card-img-top.img-responsive(src='themes/backend/assets/images/big/img1.jpg', alt='Card')
        .card-block
          ul.list-inline.font-14
            li.p-l-0 20 May 2016
            li
              a.link(href='javascript:void(0)') 3 Comment
          h3.font-normal Featured Hydroflora Pots Garden & Outdoors
    //- Column
    //- Column
    .col-lg-4
      .card
        img.card-img-top.img-responsive(src='themes/backend/assets/images/big/img2.jpg', alt='Card')
        .card-block
          ul.list-inline.font-14
            li.p-l-0 20 May 2016
            li
              a.link(href='javascript:void(0)') 3 Comment
          h3.font-normal Featured Hydroflora Pots Garden & Outdoors
    //- Column
    //- Column
    .col-lg-4
      .card
        img.card-img-top.img-responsive(src='themes/backend/assets/images/big/img4.jpg', alt='Card')
        .card-block
          ul.list-inline.font-14
            li.p-l-0 20 May 2016
            li
              a.link(href='javascript:void(0)') 3 Comment
          h3.font-normal Featured Hydroflora Pots Garden & Outdoors
    //- Column
  //- Row
  //- Row
  .row
    .col-lg-6
      .card
        .card-block
          h4.card-title Recent Comments
        //- ==============================================================
        //- Comment widgets
        //- ==============================================================
        .comment-widgets
          //- Comment Row
          .d-flex.flex-row.comment-row
            .p-2
              span.round
                img(src='themes/backend/assets/images/users/1.jpg', alt='user', width='50')
            .comment-text.w-100
              h5 James Anderson
              p.m-b-5
                | Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has beenorem Ipsum is simply dummy text of the printing and type setting industry.
              .comment-footer
                span.text-muted.pull-right April 14, 2016
                span.label.label-light-info Pending
                span.action-icons
                  a(href='javascript:void(0)')
                    i.ti-pencil-alt
                  a(href='javascript:void(0)')
                    i.ti-check
                  a(href='javascript:void(0)')
                    i.ti-heart
          //- Comment Row
          .d-flex.flex-row.comment-row.active
            .p-2
              span.round
                img(src='themes/backend/assets/images/users/2.jpg', alt='user', width='50')
            .comment-text.active.w-100
              h5 Michael Jorden
              p.m-b-5
                | Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has beenorem Ipsum is simply dummy text of the printing and type setting industry..
              .comment-footer
                span.text-muted.pull-right April 14, 2016
                span.label.label-light-success Approved
                span.action-icons.active
                  a(href='javascript:void(0)')
                    i.ti-pencil-alt
                  a(href='javascript:void(0)')
                    i.icon-close
                  a(href='javascript:void(0)')
                    i.ti-heart.text-danger
          //- Comment Row
          .d-flex.flex-row.comment-row
            .p-2
              span.round
                img(src='themes/backend/assets/images/users/3.jpg', alt='user', width='50')
            .comment-text.w-100
              h5 Johnathan Doeting
              p.m-b-5
                | Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has beenorem Ipsum is simply dummy text of the printing and type setting industry.
              .comment-footer
                span.text-muted.pull-right April 14, 2016
                span.label.label-light-danger Rejected
                span.action-icons
                  a(href='javascript:void(0)')
                    i.ti-pencil-alt
                  a(href='javascript:void(0)')
                    i.ti-check
                  a(href='javascript:void(0)')
                    i.ti-heart
          //- Comment Row
          .d-flex.flex-row.comment-row
            .p-2
              span.round
                img(src='themes/backend/assets/images/users/4.jpg', alt='user', width='50')
            .comment-text.w-100
              h5 James Anderson
              p.m-b-5
                | Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has beenorem Ipsum is simply dummy text of the printing and type setting industry..
              .comment-footer
                span.text-muted.pull-right April 14, 2016
                span.label.label-light-info Pending
                span.action-icons
                  a(href='javascript:void(0)')
                    i.ti-pencil-alt
                  a(href='javascript:void(0)')
                    i.ti-check
                  a(href='javascript:void(0)')
                    i.ti-heart
    .col-lg-6
      .card
        .card-block
          button.pull-right.btn.btn-sm.btn-rounded.btn-success(data-toggle='modal', data-target='#myModal') Add Task
          h4.card-title To Do list
          //- ==============================================================
          //- To do list widgets
          //- ==============================================================
          .to-do-widget.m-t-20
            //- .modal for add task
            #myModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    h4.modal-title Add Task
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                  .modal-body
                    form
                      .form-group
                        label Name
                        input.form-control(type='text', placeholder='Enter Your Name')
                      .form-group
                        label Email address
                        input.form-control(type='email', placeholder='Enter email')
                  .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button.btn.btn-success(type='button', data-dismiss='modal') Submit
                //- /.modal-content
              //- /.modal-dialog
            //- /.modal
            ul.list-task.todo-list.list-group.m-b-0(data-role='tasklist')
              li.list-group-item(data-role='task')
                .checkbox.checkbox-info
                  input#inputSchedule(type='checkbox', name='inputCheckboxesSchedule')
                  label(for='inputSchedule')
                    span Schedule meeting with
                ul.assignedto
                  li
                    img(src='themes/backend/assets/images/users/1.jpg', alt='user', data-toggle='tooltip', data-placement='top', title='', data-original-title='Steave')
                  li
                    img(src='themes/backend/assets/images/users/2.jpg', alt='user', data-toggle='tooltip', data-placement='top', title='', data-original-title='Jessica')
                  li
                    img(src='themes/backend/assets/images/users/3.jpg', alt='user', data-toggle='tooltip', data-placement='top', title='', data-original-title='Priyanka')
                  li
                    img(src='themes/backend/assets/images/users/4.jpg', alt='user', data-toggle='tooltip', data-placement='top', title='', data-original-title='Selina')
              li.list-group-item(data-role='task')
                .checkbox.checkbox-info
                  input#inputCall(type='checkbox', name='inputCheckboxesCall')
                  label(for='inputCall')
                    span Give Purchase report to
                    span.label.label-light-danger Today
                ul.assignedto
                  li
                    img(src='themes/backend/assets/images/users/3.jpg', alt='user', data-toggle='tooltip', data-placement='top', title='', data-original-title='Priyanka')
                  li
                    img(src='themes/backend/assets/images/users/4.jpg', alt='user', data-toggle='tooltip', data-placement='top', title='', data-original-title='Selina')
              li.list-group-item(data-role='task')
                .checkbox.checkbox-info
                  input#inputBook(type='checkbox', name='inputCheckboxesBook')
                  label(for='inputBook')
                    span Book flight for holiday
                .item-date  26 jun 2017
              li.list-group-item(data-role='task')
                .checkbox.checkbox-info
                  input#inputForward(type='checkbox', name='inputCheckboxesForward')
                  label(for='inputForward')
                    span Forward all tasks
                    span.label.label-light-warning 2 weeks
                .item-date  26 jun 2017
              li.list-group-item(data-role='task')
                .checkbox.checkbox-info
                  input#inputRecieve(type='checkbox', name='inputCheckboxesRecieve')
                  label(for='inputRecieve')
                    span Recieve shipment
                .item-date  26 jun 2017
              li.list-group-item(data-role='task')
                .checkbox.checkbox-info
                  input#inputpayment(type='checkbox', name='inputCheckboxespayment')
                  label(for='inputpayment')
                    span Send payment today
                .item-date  26 jun 2017
              li.list-group-item(data-role='task')
                .checkbox.checkbox-info
                  input#inputForward2(type='checkbox', name='inputCheckboxesd')
                  label(for='inputForward2')
                    span Important tasks
                    span.label.label-light-success 2 weeks
                ul.assignedto
                  li
                    img(src='themes/backend/assets/images/users/1.jpg', alt='user', data-toggle='tooltip', data-placement='top', title='', data-original-title='Assign to Steave')
                  li
                    img(src='themes/backend/assets/images/users/2.jpg', alt='user', data-toggle='tooltip', data-placement='top', title='', data-original-title='Assign to Jessica')
                  li
                    img(src='themes/backend/assets/images/users/4.jpg', alt='user', data-toggle='tooltip', data-placement='top', title='', data-original-title='Assign to Selina')