extends layout-backend
block content
  .page
    .page-content.container-fluid
      .row(data-plugin='matchHeight', data-by-row='true')
        .col-xl-3.col-md-6
          // Widget Linearea One
          #widgetLineareaOne.card.card-shadow
            .card-block.p-20.pt-10
              .clearfix
                .grey-800.float-left.py-10
                  i.icon.md-account.grey-600.font-size-24.vertical-align-bottom.mr-5
                  | User
                span.float-right.grey-700.font-size-30 1,253
              .mb-20.grey-500
                i.icon.md-long-arrow-up.green-500.font-size-16
                |  15%
                |  From this yesterday
              .ct-chart.h-50
          // End Widget Linearea One
        .col-xl-3.col-md-6
          // Widget Linearea Two
          #widgetLineareaTwo.card.card-shadow
            .card-block.p-20.pt-10
              .clearfix
                .grey-800.float-left.py-10
                  i.icon.md-flash.grey-600.font-size-24.vertical-align-bottom.mr-5
                  | VISITS
                span.float-right.grey-700.font-size-30 2,425
              .mb-20.grey-500
                i.icon.md-long-arrow-up.green-500.font-size-16
                |  34.2%
                | From this week
              .ct-chart.h-50
          // End Widget Linearea Two
        .col-xl-3.col-md-6
          // Widget Linearea Three
          #widgetLineareaThree.card.card-shadow
            .card-block.p-20.pt-10
              .clearfix
                .grey-800.float-left.py-10
                  i.icon.md-chart.grey-600.font-size-24.vertical-align-bottom.mr-5
                  |                   Total Clicks
                span.float-right.grey-700.font-size-30 1,864
              .mb-20.grey-500
                i.icon.md-long-arrow-down.red-500.font-size-16
                |  15%
                | From this yesterday
              .ct-chart.h-50
          // End Widget Linearea Three
        .col-xl-3.col-md-6
          // Widget Linearea Four
          #widgetLineareaFour.card.card-shadow
            .card-block.p-20.pt-10
              .clearfix
                .grey-800.float-left.py-10
                  i.icon.md-view-list.grey-600.font-size-24.vertical-align-bottom.mr-5
                  |                   Items
                span.float-right.grey-700.font-size-30 845
              .mb-20.grey-500
                i.icon.md-long-arrow-up.green-500.font-size-16
                |  18.4%
                |  From this yesterday
              .ct-chart.h-50
          // End Widget Linearea Four
        .col-xxl-7.col-lg-7
          // Widget Jvmap
          .card.card-shadow
            .card-block.p-0
              #widgetJvmap.h-450
          // End Widget Jvmap
        .col-xxl-5.col-lg-5
          // Widget Current Chart
          #widgetCurrentChart.card.card-shadow
            .p-30.white.bg-green-500
              .font-size-20.mb-20 The current chart
              .ct-chart.h-200
            .bg-white.p-30.font-size-14
              .counter.counter-lg.text-left
                .counter-label.mb-5 Approve rate are above average
                .counter-number-group
                  span.counter-number 12,673
                  span.counter-number-related.text-uppercase.font-size-14 pcs
              button.btn-raised.btn.btn-info.btn-floating(type='button')
                i.icon.md-plus(aria-hidden='true')
          // End Widget Current Chart
        .col-xl-4.col-lg-6
          // Widget User list
          #widgetUserList.card
            .card-header.cover.overlay
              img.cover-image.h-200(src='themes/backend/assets/examples/images/dashboard-header.jpg', alt='...')
              .overlay-panel.vertical-align.overlay-background
                .vertical-align-middle
                  a.avatar.avatar-100.float-left.mr-20(href='javascript:void(0)')
                    img(src='assets-global/portraits/5.jpg', alt='')
                  .float-left
                    .font-size-20 Robin Ahrens
                    p.mb-20.text-nowrap
                      span.text-break machidesign@gmail
                    .text-nowrap.font-size-18
                      a.white.mr-10(href='')
                        i.icon.bd-twitter
                      a.white.mr-10(href='')
                        i.icon.bd-facebook
                      a.white(href='')
                        i.icon.bd-dribbble
            .card-block.py-0
              ul.list-group.list-group-full.list-group-dividered.mb-0
                li.list-group-item
                  .media
                    .pr-20
                      a.avatar.avatar-lg(href='javascript:void(0)')
                        img.img-responsive(src='assets-global/portraits/1.jpg', alt='...')
                    .media-body
                      h5.mt-0.mb-5 Herman Beck
                      small San Francisco
                li.list-group-item
                  .media
                    .pr-20
                      a.avatar.avatar-lg(href='javascript:void(0)')
                        img.img-responsive(src='assets-global/portraits/2.jpg', alt='...')
                    .media-body
                      h5.mt-0.mb-5 Mary Adams
                      small Salt Lake City, Utah
                li.list-group-item
                  .media
                    .pr-20
                      a.avatar.avatar-lg(href='javascript:void(0)')
                        img.img-responsive(src='assets-global/portraits/3.jpg', alt='...')
                    .media-body
                      h5.mt-0.mb-5 Caleb Richards
                      small Basking Ridge, NJ
              button.btn-raised.btn.btn-danger.btn-floating(type='button')
                i.icon.md-plus(aria-hidden='true')
          // End Widget User list
        .col-xl-4.col-lg-6
          // Widget Chat
          #chat.card.card-shadow
            .card-header.bg-white.px-0
              a.float-left(href='javascript:void(0)')
                i.icon.md-chevron-left(aria-hidden='true')
              .text-right
                | Conversation with
                span.hidden-xs-down June Lane
                a.avatar.ml-10(data-toggle='tooltip', href='#', data-placement='right', title='June Lane')
                  img(src='assets-global/portraits/4.jpg', alt='...')
            .card-block
              .chats
                .chat.chat-left
                  .chat-avatar
                    a.avatar(data-toggle='tooltip', href='#', data-placement='left', title='')
                      img(src='assets-global/portraits/5.jpg', alt='Edward Fletcher')
                  .chat-body
                    .chat-content(data-toggle='tooltip', title='11:37:08 am')
                      p Good morning, sir.
                      p What can I do for you?
                .chat
                  .chat-avatar
                    a.avatar(data-toggle='tooltip', href='#', data-placement='right', title='')
                      img(src='assets-global/portraits/4.jpg', alt='June Lane')
                  .chat-body
                    .chat-content(data-toggle='tooltip', title='11:39:57 am')
                      p Well, I am just looking around.
                .chat.chat-left
                  .chat-avatar
                    a.avatar(data-toggle='tooltip', href='#', data-placement='left', title='')
                      img(src='assets-global/portraits/5.jpg', alt='Edward Fletcher')
                  .chat-body
                    .chat-content(data-toggle='tooltip', title='11:40:10 am')
                      p If necessary, please ask me.
            .card-footer.bg-white
              form
                .input-group.form-material
                  span.input-group-btn
                    a.btn.btn-pure.btn-default.icon.md-camera(href='javascript: void(0)')
                  input.form-control(type='text', placeholder='Type message here ...')
                  span.input-group-btn
                    button.btn.btn-pure.btn-default.icon.md-mail-send(type='button')
          // End Widget Chat
        .col-xl-4.col-lg-6
          // Widget Info
          .card.card-shadow
            .card-header.cover.overlay
              .cover-background.h-200(style="background-image: url('assets-global/photos/placeholder.png')")
            .card-block.px-30.py-20(style='height:calc(100% - 250px);')
              .mb-10(style='margin-top: -70px;')
                a.avatar.avatar-100.bg-white.img-bordered(href='javascript:void(0)')
                  img(src='assets-global/portraits/2.jpg', alt='')
              .mb-20
                .font-size-20 Caleb Richards
                .font-size-14.grey-500
                  span 2 hours ago
                  |  |
                  span Comments 20
              p
                | Lorem ipsum dolLorem ip sum dolor sit amet, consectetur adipiscing elit. Integer
                | nec odio. Praesent libero.or sit amet, consectetur adipiscing elit.
                | Integer nec odio. Praesent libero.
          // End Widget Info
        .col-xxl-5.col-lg-6
          // Panel Projects
          #projects.panel
            .panel-heading
              h3.panel-title Projects
            .table-responsive
              table.table.table-striped
                thead
                  tr
                    td Projects
                    td Completed
                    td Date
                    td Actions
                tbody
                  tr
                    td The sun climbing plan
                    td
                      span(data-plugin='peityPie', data-skin='red') 7/10
                    td Jan 1, 2017
                    td
                      button.btn.btn-sm.btn-icon.btn-pure.btn-default(type='button', data-toggle='tooltip', data-original-title='Edit')
                        i.icon.md-wrench(aria-hidden='true')
                      button.btn.btn-sm.btn-icon.btn-pure.btn-default(type='button', data-toggle='tooltip', data-original-title='Delete')
                        i.icon.md-close(aria-hidden='true')
                  tr
                    td Lunar probe project
                    td
                      span(data-plugin='peityPie', data-skin='blue') 3/10
                    td Feb 12, 2017
                    td
                      button.btn.btn-sm.btn-icon.btn-pure.btn-default(type='button', data-toggle='tooltip', data-original-title='Edit')
                        i.icon.md-wrench(aria-hidden='true')
                      button.btn.btn-sm.btn-icon.btn-pure.btn-default(type='button', data-toggle='tooltip', data-original-title='Delete')
                        i.icon.md-close(aria-hidden='true')
                  tr
                    td Dream successful plan
                    td
                      span(data-plugin='peityPie', data-skin='green') 9/10
                    td Apr 9, 2017
                    td
                      button.btn.btn-sm.btn-icon.btn-pure.btn-default(type='button', data-toggle='tooltip', data-original-title='Edit')
                        i.icon.md-wrench(aria-hidden='true')
                      button.btn.btn-sm.btn-icon.btn-pure.btn-default(type='button', data-toggle='tooltip', data-original-title='Delete')
                        i.icon.md-close(aria-hidden='true')
                  tr
                    td Office automatization
                    td
                      span(data-plugin='peityPie', data-skin='orange') 5/10
                    td May 15, 2017
                    td
                      button.btn.btn-sm.btn-icon.btn-pure.btn-default(type='button', data-toggle='tooltip', data-original-title='Edit')
                        i.icon.md-wrench(aria-hidden='true')
                      button.btn.btn-sm.btn-icon.btn-pure.btn-default(type='button', data-toggle='tooltip', data-original-title='Delete')
                        i.icon.md-close(aria-hidden='true')
                  tr
                    td Open strategy
                    td
                      span(data-plugin='peityPie', data-skin='brown') 2/10
                    td Jun 2, 2017
                    td
                      button.btn.btn-sm.btn-icon.btn-pure.btn-default(type='button', data-toggle='tooltip', data-original-title='Edit')
                        i.icon.md-wrench(aria-hidden='true')
                      button.btn.btn-sm.btn-icon.btn-pure.btn-default(type='button', data-toggle='tooltip', data-original-title='Delete')
                        i.icon.md-close(aria-hidden='true')
          // End Panel Projects
        .col-xxl-7.col-lg-6
          // Panel Projects Status
          #projects-status.panel
            .panel-heading
              h3.panel-title
                | Projects Status
                span.badge.badge-pill.badge-info 5
            .table-responsive
              table.table.table-striped
                thead
                  tr
                    td ID
                    td Project
                    td Status
                    td.text-left Progress
                tbody
                  tr
                    td 619
                    td The sun climbing plan
                    td
                      span.badge.badge-primary Developing
                    td
                      span(data-plugin='peityLine') 5,3,2,-1,-3,-2,2,3,5,2
                  tr
                    td 620
                    td Lunar probe project
                    td
                      span.badge.badge-warning Design
                    td
                      span(data-plugin='peityLine') 1,-1,0,2,3,1,-1,1,4,2
                  tr
                    td 621
                    td Dream successful plan
                    td
                      span.badge.badge-info Testing
                    td
                      span(data-plugin='peityLine') 2,3,-1,-3,-1,0,2,4,5,3
                  tr
                    td 622
                    td Office automatization
                    td
                      span.badge.badge-danger Canceled
                    td
                      span(data-plugin='peityLine') 1,-2,0,2,4,5,3,2,4,2
                  tr
                    td 623
                    td Open strategy
                    td
                      span.badge.badge-default Reply waiting
                    td
                      span(data-plugin='peityLine') 4,2,-1,-3,-2,1,3,5,2,4