doctype html
html.no-js.css-menubar(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
    meta(name='description', content='bootstrap admin template')
    meta(name='author', content='')
    title  | Remark Admin Template
    link(rel='apple-touch-icon', href='themes/backend/assets/apple-touch-icon.png')
    link(rel='shortcut icon', href='themes/backend/assets/images/favicon.ico')
    // Stylesheets
    link(rel='stylesheet', href='assets-global/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets-global/css/bootstrap-extend.min.css')
    link(rel='stylesheet', href='themes/backend/assets/css/site.min.css')
    // Plugins
    link(rel='stylesheet', href='vendor/animsition/animsition.css')
    link(rel='stylesheet', href='vendor/asscrollable/asScrollable.css')
    link(rel='stylesheet', href='vendor/switchery/switchery.css')
    link(rel='stylesheet', href='vendor/intro-js/introjs.css')
    link(rel='stylesheet', href='vendor/slidepanel/slidePanel.css')
    link(rel='stylesheet', href='vendor/flag-icon-css/flag-icon.css')
    link(rel='stylesheet', href='vendor/waves/waves.css')
    link(rel='stylesheet', href='vendor/chartist/chartist.css')
    link(rel='stylesheet', href='vendor/jvectormap/jquery-jvectormap.css')
    link(rel='stylesheet', href='vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css')
    link(rel='stylesheet', href='themes/backend/assets/examples/css/dashboard/v1.css')
    // Fonts
    link(rel='stylesheet', href='assets-global/fonts/material-design/material-design.min.css')
    link(rel='stylesheet', href='assets-global/fonts/brand-icons/brand-icons.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic')
    //if lt IE 9
      script(src='vendor/html5shiv/html5shiv.min.js')
    //if lt IE 10
      script(src='vendor/media-match/media.match.min.js')
      script(src='vendor/respond/respond.min.js')
    // Scripts
    script(src='vendor/breakpoints/breakpoints.js')
    script.
      Breakpoints();
  body.animsition
    //if lt IE 8
      p.browserupgrade
        | You are using an
        strong outdated
        |  browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    nav.site-navbar.navbar.navbar-default.navbar-fixed-top.navbar-mega(role='navigation')
      .navbar-header
        button.navbar-toggler.hamburger.hamburger-close.navbar-toggler-left.hided(type='button', data-toggle='menubar')
          span.sr-only Toggle navigation
          span.hamburger-bar
        button.navbar-toggler.collapsed(type='button', data-target='#site-navbar-collapse', data-toggle='collapse')
          i.icon.md-more(aria-hidden='true')
        .navbar-brand.navbar-brand-center.site-gridmenu-toggle(data-toggle='gridmenu')
          img.navbar-brand-logo(src='themes/backend/assets/images/logo.png', title='Remark')
          span.navbar-brand-text.hidden-xs-down Back End
        button.navbar-toggler.collapsed(type='button', data-target='#site-navbar-search', data-toggle='collapse')
          span.sr-only Toggle Search
          i.icon.md-search(aria-hidden='true')
      .navbar-container.container-fluid
        // Navbar Collapse
        #site-navbar-collapse.collapse.navbar-collapse.navbar-collapse-toolbar
          // Navbar Toolbar
          ul.nav.navbar-toolbar
            li#toggleMenubar.nav-item.hidden-float
              a.nav-link(data-toggle='menubar', href='#', role='button')
                i.icon.hamburger.hamburger-arrow-left
                  span.sr-only Toggle menubar
                  span.hamburger-bar
            li#toggleFullscreen.nav-item.hidden-sm-down
              a.nav-link.icon.icon-fullscreen(data-toggle='fullscreen', href='#', role='button')
                span.sr-only Toggle fullscreen
            li.nav-item.dropdown.dropdown-fw.dropdown-mega
              a.nav-link(data-toggle='dropdown', href='#', aria-expanded='false', data-animation='fade', role='button')
                | Mega
                i.icon.md-chevron-down(aria-hidden='true', style='margin-left: 5px')
              .dropdown-menu(role='menu')
                .mega-content
                  .row
                    .col-md-4
                      h5 UI Kit
                      ul.blocks-2
                        li.mega-menu.m-0
                          ul.list-icons
                            li
                              i.md-chevron-right(aria-hidden='true')
                              a(href='advanced/animation.html') Animation
                            li
                              i.md-chevron-right(aria-hidden='true')
                              a(href='uikit/buttons.html') Buttons
                            li
                              i.md-chevron-right(aria-hidden='true')
                              a(href='uikit/colors.html') Colors
                            li
                              i.md-chevron-right(aria-hidden='true')
                              a(href='uikit/dropdowns.html') Dropdowns
                            li
                              i.md-chevron-right(aria-hidden='true')
                              a(href='uikit/icons.html') Icons
                            li
                              i.md-chevron-right(aria-hidden='true')
                              a(href='advanced/lightbox.html') Lightbox
                        li.mega-menu.m-0
                          ul.list-icons
                            li
                              i.md-chevron-right(aria-hidden='true')
                              a(href='uikit/modals.html') Modals
                            li
                              i.md-chevron-right(aria-hidden='true')
                              a(href='uikit/panel-structure.html') Panels
                            li
                              i.md-chevron-right(aria-hidden='true')
                              a(href='structure/overlay.html') Overlay
                            li
                              i.md-chevron-right(aria-hidden='true')
                              a(href='uikit/tooltip-popover.html ') Tooltips
                            li
                              i.md-chevron-right(aria-hidden='true')
                              a(href='advanced/scrollable.html') Scrollable
                            li
                              i.md-chevron-right(aria-hidden='true')
                              a(href='uikit/typography.html') Typography
                    .col-md-4
                      h5
                        | Media
                        span.badge.badge-pill.badge-success 4
                      ul.blocks-3
                        li
                          a.thumbnail.m-0(href='javascript:void(0)')
                            img.w-full(src='assets-global/photos/placeholder.png', alt='...')
                        li
                          a.thumbnail.m-0(href='javascript:void(0)')
                            img.w-full(src='assets-global/photos/placeholder.png', alt='...')
                        li
                          a.thumbnail.m-0(href='javascript:void(0)')
                            img.w-full(src='assets-global/photos/placeholder.png', alt='...')
                        li
                          a.thumbnail.m-0(href='javascript:void(0)')
                            img.w-full(src='assets-global/photos/placeholder.png', alt='...')
                        li
                          a.thumbnail.m-0(href='javascript:void(0)')
                            img.w-full(src='assets-global/photos/placeholder.png', alt='...')
                        li
                          a.thumbnail.m-0(href='javascript:void(0)')
                            img.w-full(src='assets-global/photos/placeholder.png', alt='...')
                    .col-md-4
                      h5.mb-0 Accordion
                      // Accordion
                      #siteMegaAccordion.panel-group.panel-group-simple(aria-multiselectable='true', role='tablist')
                        .panel
                          #siteMegaAccordionHeadingOne.panel-heading(role='tab')
                            a.panel-title(data-toggle='collapse', href='#siteMegaCollapseOne', data-parent='#siteMegaAccordion', aria-expanded='false', aria-controls='siteMegaCollapseOne')
                              | Collapsible Group Item #1
                          #siteMegaCollapseOne.panel-collapse.collapse(aria-labelledby='siteMegaAccordionHeadingOne', role='tabpanel')
                            .panel-body
                              | De moveat laudatur vestra parum doloribus labitur sentire partes, eripuit praesenti
                              | congressus ostendit alienae, voluptati ornateque accusamus
                              | clamat reperietur convicia albucius.
                        .panel
                          #siteMegaAccordionHeadingTwo.panel-heading(role='tab')
                            a.panel-title.collapsed(data-toggle='collapse', href='#siteMegaCollapseTwo', data-parent='#siteMegaAccordion', aria-expanded='false', aria-controls='siteMegaCollapseTwo')
                              | Collapsible Group Item #2
                          #siteMegaCollapseTwo.panel-collapse.collapse(aria-labelledby='siteMegaAccordionHeadingTwo', role='tabpanel')
                            .panel-body
                              | Praestabiliorem. Pellat excruciant legantur ullum leniter vacare foris voluptate
                              | loco ignavi, credo videretur multoque choro fatemur
                              | mortis animus adoptionem, bello statuat expediunt naturales.
                        .panel
                          #siteMegaAccordionHeadingThree.panel-heading(role='tab')
                            a.panel-title.collapsed(data-toggle='collapse', href='#siteMegaCollapseThree', data-parent='#siteMegaAccordion', aria-expanded='false', aria-controls='siteMegaCollapseThree')
                              | Collapsible Group Item #3
                          #siteMegaCollapseThree.panel-collapse.collapse(aria-labelledby='siteMegaAccordionHeadingThree', role='tabpanel')
                            .panel-body
                              | Horum, antiquitate perciperet d conspectum locus obruamus animumque perspici probabis
                              | suscipere. Desiderat magnum, contenta poena desiderant
                              | concederetur menandri damna disputandum corporum.
                      // End Accordion
          // End Navbar Toolbar
          // Navbar Toolbar Right
          ul.nav.navbar-toolbar.navbar-right.navbar-toolbar-right
            li.nav-item.dropdown
              a.nav-link(data-toggle='dropdown', href='javascript:void(0)', data-animation='scale-up', aria-expanded='false', role='button')
                span.flag-icon.flag-icon-us
              .dropdown-menu(role='menu')
                a.dropdown-item(href='javascript:void(0)', role='menuitem')
                  span.flag-icon.flag-icon-gb
                  |  English
                a.dropdown-item(href='javascript:void(0)', role='menuitem')
                  span.flag-icon.flag-icon-fr
                  |  French
                a.dropdown-item(href='javascript:void(0)', role='menuitem')
                  span.flag-icon.flag-icon-cn
                  |  Chinese
                a.dropdown-item(href='javascript:void(0)', role='menuitem')
                  span.flag-icon.flag-icon-de
                  |  German
                a.dropdown-item(href='javascript:void(0)', role='menuitem')
                  span.flag-icon.flag-icon-nl
                  |  Dutch
            li.nav-item.dropdown
              a.nav-link.navbar-avatar(data-toggle='dropdown', href='#', aria-expanded='false', data-animation='scale-up', role='button')
                span.avatar.avatar-online
                  img(src='assets-global/portraits/5.jpg', alt='...')
                  i
              .dropdown-menu(role='menu')
                a.dropdown-item(href='javascript:void(0)', role='menuitem')
                  i.icon.md-account(aria-hidden='true')
                  |  Profile
                a.dropdown-item(href='javascript:void(0)', role='menuitem')
                  i.icon.md-card(aria-hidden='true')
                  |  Billing
                a.dropdown-item(href='javascript:void(0)', role='menuitem')
                  i.icon.md-settings(aria-hidden='true')
                  |  Settings
                .dropdown-divider
                a.dropdown-item(href='/signout', role='menuitem')
                  i.icon.md-power(aria-hidden='true')
                  |  Logout
            li.nav-item.dropdown
              a.nav-link(data-toggle='dropdown', href='javascript:void(0)', title='Notifications', aria-expanded='false', data-animation='scale-up', role='button')
                i.icon.md-notifications(aria-hidden='true')
                span.badge.badge-pill.badge-danger.up 5
              .dropdown-menu.dropdown-menu-right.dropdown-menu-media(role='menu')
                .dropdown-menu-header
                  h5 NOTIFICATIONS
                  span.badge.badge-round.badge-danger New 5
                .list-group
                  div(data-role='container')
                    div(data-role='content')
                      a.list-group-item.dropdown-item(href='javascript:void(0)', role='menuitem')
                        .media
                          .pr-10
                            i.icon.md-receipt.bg-red-600.white.icon-circle(aria-hidden='true')
                          .media-body
                            h6.media-heading A new order has been placed
                            time.media-meta(datetime='2017-06-12T20:50:48+08:00') 5 hours ago
                      a.list-group-item.dropdown-item(href='javascript:void(0)', role='menuitem')
                        .media
                          .pr-10
                            i.icon.md-account.bg-green-600.white.icon-circle(aria-hidden='true')
                          .media-body
                            h6.media-heading Completed the task
                            time.media-meta(datetime='2017-06-11T18:29:20+08:00') 2 days ago
                      a.list-group-item.dropdown-item(href='javascript:void(0)', role='menuitem')
                        .media
                          .pr-10
                            i.icon.md-settings.bg-red-600.white.icon-circle(aria-hidden='true')
                          .media-body
                            h6.media-heading Settings updated
                            time.media-meta(datetime='2017-06-11T14:05:00+08:00') 2 days ago
                      a.list-group-item.dropdown-item(href='javascript:void(0)', role='menuitem')
                        .media
                          .pr-10
                            i.icon.md-calendar.bg-blue-600.white.icon-circle(aria-hidden='true')
                          .media-body
                            h6.media-heading Event started
                            time.media-meta(datetime='2017-06-10T13:50:18+08:00') 3 days ago
                      a.list-group-item.dropdown-item(href='javascript:void(0)', role='menuitem')
                        .media
                          .pr-10
                            i.icon.md-comment.bg-orange-600.white.icon-circle(aria-hidden='true')
                          .media-body
                            h6.media-heading Message received
                            time.media-meta(datetime='2017-06-10T12:34:48+08:00') 3 days ago
                .dropdown-menu-footer
                  a.dropdown-menu-footer-btn(href='javascript:void(0)', role='button')
                    i.icon.md-settings(aria-hidden='true')
                  a.dropdown-item(href='javascript:void(0)', role='menuitem')
                    | All notifications
            li.nav-item.dropdown
              a.nav-link(data-toggle='dropdown', href='javascript:void(0)', title='Messages', aria-expanded='false', data-animation='scale-up', role='button')
                i.icon.md-email(aria-hidden='true')
                span.badge.badge-pill.badge-info.up 3
              .dropdown-menu.dropdown-menu-right.dropdown-menu-media(role='menu')
                .dropdown-menu-header(role='presentation')
                  h5 MESSAGES
                  span.badge.badge-round.badge-info New 3
                .list-group(role='presentation')
                  div(data-role='container')
                    div(data-role='content')
                      a.list-group-item.dropdown-item(href='javascript:void(0)', role='menuitem')
                        .media
                          .pr-10
                            span.avatar.avatar-sm.avatar-online
                              img(src='assets-global/portraits/2.jpg', alt='...')
                              i
                          .media-body
                            h6.media-heading Mary Adams
                            .media-meta
                              time(datetime='2017-06-17T20:22:05+08:00') 30 minutes ago
                            .media-detail Anyways, i would like just do it
                      a.list-group-item.dropdown-item(href='javascript:void(0)', role='menuitem')
                        .media
                          .pr-10
                            span.avatar.avatar-sm.avatar-off
                              img(src='assets-global/portraits/3.jpg', alt='...')
                              i
                          .media-body
                            h6.media-heading Caleb Richards
                            .media-meta
                              time(datetime='2017-06-17T12:30:30+08:00') 12 hours ago
                            .media-detail I checheck the document. But there seems
                      a.list-group-item.dropdown-item(href='javascript:void(0)', role='menuitem')
                        .media
                          .pr-10
                            span.avatar.avatar-sm.avatar-busy
                              img(src='assets-global/portraits/4.jpg', alt='...')
                              i
                          .media-body
                            h6.media-heading June Lane
                            .media-meta
                              time(datetime='2017-06-16T18:38:40+08:00') 2 days ago
                            .media-detail Lorem ipsum Id consectetur et minim
                      a.list-group-item.dropdown-item(href='javascript:void(0)', role='menuitem')
                        .media
                          .pr-10
                            span.avatar.avatar-sm.avatar-away
                              img(src='assets-global/portraits/5.jpg', alt='...')
                              i
                          .media-body
                            h6.media-heading Edward Fletcher
                            .media-meta
                              time(datetime='2017-06-15T20:34:48+08:00') 3 days ago
                            .media-detail Dolor et irure cupidatat commodo nostrud nostrud.
                .dropdown-menu-footer(role='presentation')
                  a.dropdown-menu-footer-btn(href='javascript:void(0)', role='button')
                    i.icon.md-settings(aria-hidden='true')
                  a.dropdown-item(href='javascript:void(0)', role='menuitem')
                    | See all messages
            li#toggleChat.nav-item
              a.nav-link(data-toggle='site-sidebar', href='javascript:void(0)', title='Chat', data-url='site-sidebar.tpl')
                i.icon.md-comment(aria-hidden='true')
          // End Navbar Toolbar Right
        // End Navbar Collapse
        // Site Navbar Seach
        #site-navbar-search.collapse.navbar-search-overlap
          form(role='search')
            .form-group
              .input-search
                i.input-search-icon.md-search(aria-hidden='true')
                input.form-control(type='text', name='site-search', placeholder='Search...')
                button.input-search-close.icon.md-close(type='button', data-target='#site-navbar-search', data-toggle='collapse', aria-label='Close')
        // End Site Navbar Seach
    .site-menubar
      .site-menubar-body
        div
          div
            ul.site-menu(data-plugin='menu')
              li.site-menu-category General

              //- DASHBOARD
              li.site-menu-item
                a.animsition-link(href='/dashboard')
                  i.site-menu-icon.md-view-dashboard(aria-hidden='true')
                  span.site-menu-title Dashboard

              li.site-menu-category Management

              //- CATEGORIES
              li.site-menu-item
                a.animsition-link(href='/categories')
                  i.site-menu-icon.md-view-dashboard(aria-hidden='true')
                  span.site-menu-title Categories

              //- USERS
              li.site-menu-item
                a.animsition-link(href='/categories')
                  i.site-menu-icon.md-view-dashboard(aria-hidden='true')
                  span.site-menu-title Users

              //- USERS
              li.site-menu-item
                a.animsition-link(href='/categories')
                  i.site-menu-icon.md-view-dashboard(aria-hidden='true')
                  span.site-menu-title Product

              //- USERS
              li.site-menu-item
                a.animsition-link(href='/categories')
                  i.site-menu-icon.md-view-dashboard(aria-hidden='true')
                  span.site-menu-title Users


              li.site-menu-category Elements
              li.site-menu-category Apps
            .site-menubar-section
              h5
                | Milestone
                span.float-right 30%
              .progress.progress-xs
                .progress-bar.active(style='width: 30%;', role='progressbar')
              h5
                | Release
                span.float-right 60%
              .progress.progress-xs
                .progress-bar.progress-bar-warning(style='width: 60%;', role='progressbar')
      .site-menubar-footer
        a.fold-show(href='javascript: void(0);', data-placement='top', data-toggle='tooltip', data-original-title='Settings')
          span.icon.md-settings(aria-hidden='true')
        a(href='javascript: void(0);', data-placement='top', data-toggle='tooltip', data-original-title='Lock')
          span.icon.md-eye-off(aria-hidden='true')
        a(href='javascript: void(0);', data-placement='top', data-toggle='tooltip', data-original-title='Logout')
          span.icon.md-power(aria-hidden='true')
    .site-gridmenu
      div
        div
          ul
            li
              a(href='apps/mailbox/mailbox.html')
                i.icon.md-email
                span Mailbox
            li
              a(href='apps/calendar/calendar.html')
                i.icon.md-calendar
                span Calendar
            li
              a(href='apps/contacts/contacts.html')
                i.icon.md-account
                span Contacts
            li
              a(href='apps/media/overview.html')
                i.icon.md-videocam
                span Media
            li
              a(href='apps/documents/categories.html')
                i.icon.md-receipt
                span Documents
            li
              a(href='apps/projects/projects.html')
                i.icon.md-image
                span Project
            li
              a(href='apps/forum/forum.html')
                i.icon.md-comments
                span Forum
            li
              a(href='index.html')
                i.icon.md-view-dashboard
                span Dashboard
    // Page
    block content
    // End Page
    // Footer
    footer.site-footer
      .site-footer-legal
        | © 2017
        a(href='http://themeforest.net/item/remark-responsive-bootstrap-admin-template/11989202') Remark
      .site-footer-right
        | Crafted with
        i.red-600.icon.md-favorite(style='margin-left: 5px')
        |  by
        a(href='http://themeforest.net/user/amazingSurge') amazingSurge
    // Core
    script(src='vendor/babel-external-helpers/babel-external-helpers.js')
    script(src='vendor/jquery/jquery.js')
    script(src='vendor/tether/tether.js')
    script(src='vendor/bootstrap/bootstrap.js')
    script(src='vendor/animsition/animsition.js')
    script(src='vendor/mousewheel/jquery.mousewheel.js')
    script(src='vendor/asscrollbar/jquery-asScrollbar.js')
    script(src='vendor/asscrollable/jquery-asScrollable.js')
    script(src='vendor/ashoverscroll/jquery-asHoverScroll.js')
    script(src='vendor/waves/waves.js')
    // Plugins
    script(src='vendor/switchery/switchery.min.js')
    script(src='vendor/intro-js/intro.js')
    script(src='vendor/screenfull/screenfull.js')
    script(src='vendor/slidepanel/jquery-slidePanel.js')
    script(src='vendor/chartist/chartist.min.js')
    script(src='vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.min.js')
    script(src='vendor/jvectormap/jquery-jvectormap.min.js')
    script(src='vendor/jvectormap/maps/jquery-jvectormap-world-mill-en.js')
    script(src='vendor/matchheight/jquery.matchHeight-min.js')
    script(src='vendor/peity/jquery.peity.min.js')
    // Scripts
    script(src='assets-global/js/State.js')
    script(src='assets-global/js/Component.js')
    script(src='assets-global/js/Plugin.js')
    script(src='assets-global/js/Base.js')
    script(src='assets-global/js/Config.js')
    script(src='themes/backend/assets/js/Section/Menubar.js')
    script(src='themes/backend/assets/js/Section/GridMenu.js')
    script(src='themes/backend/assets/js/Section/Sidebar.js')
    script(src='themes/backend/assets/js/Section/PageAside.js')
    script(src='themes/backend/assets/js/Plugin/menu.js')
    script(src='assets-global/js/config/colors.js')
    script(src='themes/backend/assets/js/config/tour.js')
    script.
      Config.set('assets', '../assets');
    // Page
    script(src='themes/backend/assets/js/Site.js')
    script(src='assets-global/js/Plugin/asscrollable.js')
    script(src='assets-global/js/Plugin/slidepanel.js')
    script(src='assets-global/js/Plugin/switchery.js')
    script(src='assets-global/js/Plugin/matchheight.js')
    script(src='assets-global/js/Plugin/jvectormap.js')
    script(src='assets-global/js/Plugin/peity.js')
    script(src='themes/backend/assets/examples/js/dashboard/v1.js')