doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='apple-touch-icon', sizes='76x76', href='./themes/back-end/assets-kit/img/apple-icon.png')
    link(rel='icon', type='image/png', href='./themes/back-end/assets-kit/img/favicon.png')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Components Documentation - Now Ui Kit by Creative Tim
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no', name='viewport')
    // Fonts and icons
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')
    // CSS Files
    link(href='/themes/back-end/assets-kit/css/bootstrap.min.css', rel='stylesheet')
    link(href='/themes/back-end/assets-kit/css/now-ui-kit.css', rel='stylesheet')
    // CSS Just for demo purpose, don't include it in your project
    link(href='/themes/back-end/assets-kit/css/demo.css', rel='stylesheet')
    script(src='https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js')
    style.
      pre.prettyprint {
      background-color: #eee;
      border: 0px;
      margin-bottom: 60px;
      margin-top: 30px;
      padding: 20px;
      text-align: left;
      }
      .atv,
      .str {
      color: #05AE0E;
      }
      .tag,
      .pln,
      .kwd {
      color: #3472F7;
      }
      .atn {
      color: #2C93FF;
      }
      .pln {
      color: #333;
      }
      .com {
      color: #999;
      }
      .space-top {
      margin-top: 50px;
      }
      .btn-primary .caret {
      border-top-color: #3472F7;
      color: #3472F7;
      }
      .area-line {
      border: 1px solid #999;
      border-left: 0;
      border-right: 0;
      color: #666;
      display: block;
      margin-top: 20px;
      padding: 8px 0;
      text-align: center;
      }
      .area-line a {
      color: #666;
      }
      .container-fluid {
      padding-right: 15px;
      padding-left: 15px;
      }
      .table-shopping .td-name {
      min-width: 130px;
      }
      .pick-class-label {
      border-radius: 8px;
      border: 1px solid #E3E3E3;
      color: #ffffff;
      cursor: pointer;
      display: inline-block;
      font-size: 75%;
      font-weight: bold;
      line-height: 1;
      margin-right: 10px;
      padding: 23px;
      text-align: center;
      vertical-align: baseline;
      white-space: nowrap;
      }
  body
    // Navbar
    nav.navbar.navbar-toggleable-md.fixed-top.bg-primary.navbar-transparent(color-on-scroll='500')
      .container
        .navbar-translate
          button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navigation', aria-controls='navigation-index', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-bar.bar1
            span.navbar-toggler-bar.bar2
            span.navbar-toggler-bar.bar3
          a.navbar-brand(href='http://demos.creative-tim.com/now-ui-kit/index.html', rel='tooltip', title='Designed by Invision. Coded by Creative Tim', data-placement='bottom', target='_blank')
            | Now Ui Kit - Docs
        #navigation.collapse.navbar-collapse.justify-content-end(data-nav-image='./themes/back-end/assets-kit/img/blurred-image-1.jpg')
          ul.navbar-nav
            li.nav-item
              a.nav-link(href='../index.html') Back to Kit
            li.nav-item
              a.nav-link(href='https://github.com/creativetimofficial/material-kit/issues') Have an issue?
    // End Navbar
    .wrapper
      .page-header.clear-filter(filter-color='orange')
        .page-header-image(data-parallax='true', style="background-image: url('./themes/back-end/assets-kit/img/header.jpg');")
        .container
          .content-center
            h1.title.text-center Components Documentation
            h3.category v1.0.0
            h4.description.text-center We are constantly doing updates for you. Please check the online documentation.
            a.btn.btn-primary.btn-lg.btn-round(href='http://demos.creative-tim.com/now-ui-kit/documentation/tutorial-components.html?ref=nuk-free-doc') View Documentation
      .wrapper
      footer.footer
        .container
          nav
            ul
              li
                a(href='https://www.creative-tim.com')
                  | Creative Tim
              li
                a(href='http://presentation.creative-tim.com')
                  | About Us
              li
                a(href='http://blog.creative-tim.com')
                  | Blog
              li
                a(href='https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md')
                  | MIT License
          .copyright
            | ©
            script.
              document.write(new Date().getFullYear())
            | , Designed by
            a(href='http://www.invisionapp.com', target='_blank') Invision
            | . Coded by
            a(href='https://www.creative-tim.com', target='_blank') Creative Tim
            | .
  // Core JS Files
  script(src='./themes/back-end/assets-kit/js/core/jquery.3.2.1.min.js', type='text/javascript')
  script(src='./themes/back-end/assets-kit/js/core/tether.min.js', type='text/javascript')
  script(src='./themes/back-end/assets-kit/js/core/bootstrap.min.js', type='text/javascript')
  // Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/
  script(src='./themes/back-end/assets-kit/js/plugins/bootstrap-switch.js')
  // Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/
  script(src='./themes/back-end/assets-kit/js/plugins/nouislider.min.js', type='text/javascript')
  // Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker
  script(src='./themes/back-end/assets-kit/js/plugins/bootstrap-datepicker.js', type='text/javascript')
  // Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc
  script(src='./themes/back-end/assets-kit/js/now-ui-kit.js', type='text/javascript')
  script.
    var header_height;
    var fixed_section;
    var floating = false;
    $(document).ready(function() {
    suggestions_distance = $("#suggestions").offset();
    pay_height = $('.fixed-section').outerHeight();
    $(window).on('scroll', nowuiKit.checkScrollForTransparentNavbar);
    if ($(window).width() >= 768) {
    big_image = $('.header[data-parallax="true"]');
    if (big_image.length != 0) {
    $(window).on('scroll', nowuiKitDemo.checkScrollForParallax);
    }
    }
    // the body of this function is in assets/js/now-ui-kit.js
    nowuiKit.initSliders();
    });
