
script(src='themes/backend/assets/plugins/jquery/jquery.min.js')
//- Bootstrap tether Core JavaScript
script(src='themes/backend/assets/plugins/bootstrap/js/tether.min.js')
script(src='themes/backend/assets/plugins/bootstrap/js/bootstrap.min.js')
//- slimscrollbar scrollbar JavaScript
script(src='themes/backend/assets/js/jquery.slimscroll.js')
//- Wave Effects
script(src='themes/backend/assets/js/waves.js')
//- Menu sidebar
script(src='themes/backend/assets/js/sidebarmenu.js')
//- stickey kit
script(src='themes/backend/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js')
//- Custom JavaScript
script(src='themes/backend/assets/js/custom.min.js')

script(src='themes/backend/assets/plugins/styleswitcher/jQuery.style.switcher.js')
//- Sweet-Alert
script(src='themes/backend/assets/plugins/sweetalert/sweetalert.min.js')
script(src='themes/backend/assets/plugins/sweetalert/jquery.sweet-alert.custom.js')