head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    //- Tell the browser to be responsive to screen width
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    //- Favicon icon
    link(rel='icon', type='image/png', sizes='16x16', href='themes/backend/assets/images/logo-icon.png')
    title Monster Admin Template - The Most Complete & Trusted Bootstrap 4 Admin Template
    //- Bootstrap Core CSS
    link(href='themes/backend/assets/plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    //- Custom CSS
    link(href='themes/backend/assets/css/style.css', rel='stylesheet')
    //- You can change the theme colors from here
    link#theme(href='themes/backend/assets/css/colors/green.css', rel='stylesheet')